################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/CopilotSnapshots/382B68C98BB70D43B9F2374676628BE6
/.vs/Austerlitz/copilot-chat/05bf84dc/sessions
/.vs/Austerlitz/CopilotIndices/18.3.508.13148
/.vs/Austerlitz/FileContentIndex
/Austerlitz/obj/Debug/.NETFramework,Version=v4.5.AssemblyAttributes.cs
/Austerlitz/obj/Debug/.NETFramework,Version=v4.8.AssemblyAttributes.cs
/Austerlitz/obj/Debug/Austerlitz.csproj.AssemblyReference.cache
/Austerlitz/obj/Debug/Austerlitz.csproj.CoreCompileInputs.cache
/Austerlitz/obj/Debug/Austerlitz.csproj.FileListAbsolute.txt
/Austerlitz/obj/Debug/Austerlitz.csproj.Up2Date
/Austerlitz/obj/Debug/Austerlitz.csprojResolveAssemblyReference.cache
/Austerlitz/obj/Debug/Austerlitz.dll
/Austerlitz/obj/Debug/Austerlitz.pdb
/Austerlitz/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
/Austerlitz/obj/Release/.NETFramework,Version=v4.5.AssemblyAttributes.cs
/Austerlitz/obj/Release/Austerlitz.csproj.AssemblyReference.cache
/WebApplication1/obj
/DomainTypes/obj
/database/.vs
/Austerlitz.Domain/obj/Release
/Austerlitz.Domain/obj/Debug/.NETFramework,Version=v4.5.AssemblyAttributes.cs
/Austerlitz.Domain/obj/Debug/.NETFramework,Version=v4.8.AssemblyAttributes.cs
/Austerlitz.Domain/obj/Debug/Austerli.14A86AF5.Up2Date
/Austerlitz.Domain/obj/Debug/Austerlitz.Domain.csproj.AssemblyReference.cache
/Austerlitz.Domain/obj/Debug/Austerlitz.Domain.csproj.CoreCompileInputs.cache
/Austerlitz.Domain/obj/Debug/Austerlitz.Domain.csproj.FileListAbsolute.txt
/Austerlitz.Domain/obj/Debug/Austerlitz.Domain.csprojResolveAssemblyReference.cache
/Austerlitz.Domain/obj/Debug/Austerlitz.Domain.dll
/Austerlitz.Domain/obj/Debug/Austerlitz.Domain.pdb
/Austerlitz.Domain/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
/Austerlitz.Domain/bin/Debug/Austerlitz.DAL.dll
/Austerlitz.Domain/bin/Debug/Austerlitz.DAL.dll.config
/Austerlitz.Domain/bin/Debug/Austerlitz.DAL.pdb
/Austerlitz.Domain/bin/Debug/Austerlitz.Domain.dll
/Austerlitz.Domain/bin/Debug/Austerlitz.Domain.dll.config
/Austerlitz.Domain/bin/Debug/Austerlitz.Domain.pdb
/Austerlitz.Domain/.vs/Austerlitz.Domain.csproj.dtbcache.json
/Austerlitz.DAL/obj/Release
/Austerlitz.DAL/obj/Debug/.NETFramework,Version=v4.5.AssemblyAttributes.cs
/Austerlitz.DAL/obj/Debug/.NETFramework,Version=v4.8.AssemblyAttributes.cs
/Austerlitz.DAL/obj/Debug/Austerli.C15A1D1C.Up2Date
/Austerlitz.DAL/obj/Debug/Austerlitz.DAL.csproj.AssemblyReference.cache
/Austerlitz.DAL/obj/Debug/Austerlitz.DAL.csproj.CoreCompileInputs.cache
/Austerlitz.DAL/obj/Debug/Austerlitz.DAL.csproj.FileListAbsolute.txt
/Austerlitz.DAL/obj/Debug/Austerlitz.DAL.dll
/Austerlitz.DAL/obj/Debug/Austerlitz.DAL.pdb
/Austerlitz.DAL/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
/Austerlitz.DAL/obj/Debug/TempPE/AusterlitzDB1.Context.cs.dll
/Austerlitz.DAL/obj/Debug/TempPE/AusterlitzDB1.cs.dll
/.vs/Austerlitz/v18
/Austerlitz/bin/Austerlitz.DAL.dll
/Austerlitz/bin/Austerlitz.DAL.dll.config
/Austerlitz/bin/Austerlitz.DAL.pdb
/Austerlitz/bin/Austerlitz.dll
/Austerlitz/bin/Austerlitz.dll.config
/Austerlitz/bin/Austerlitz.Domain.dll
/Austerlitz/bin/Austerlitz.Domain.dll.config
/Austerlitz/bin/Austerlitz.Domain.pdb
/Austerlitz/bin/Austerlitz.pdb
/Austerlitz/bin/Austerlitz.DAL.dll
/Austerlitz/bin/Austerlitz.DAL.pdb
/Austerlitz/bin/Austerlitz.dll
/Austerlitz/bin/Austerlitz.dll.config
/Austerlitz/bin/Austerlitz.Domain.dll
/Austerlitz/bin/Austerlitz.Domain.pdb
/Austerlitz/bin/Austerlitz.pdb
/Austerlitz/database/.vs
/Austerlitz/database/Austerlitz_log.ldf
/Austerlitz/obj/Debug/Austerlitz.csproj.FileListAbsolute.txt
/Austerlitz/obj/Debug/Austerlitz.csprojResolveAssemblyReference.cache
/Austerlitz/obj/Debug/Austerlitz.dll
/Austerlitz/obj/Debug/Austerlitz.pdb
/Austerlitz/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
/Austerlitz.DAL/obj/Debug/TempPE/AusterlitzDB1.Context.cs.dll
/Austerlitz.DAL/obj/Debug/TempPE/AusterlitzDB1.cs.dll
/Austerlitz.DAL/obj/Debug/Austerlitz.DAL.csprojResolveAssemblyReference.cache
/Austerlitz.DAL/obj/Debug/Austerlitz.DAL.dll
/Austerlitz.DAL/obj/Debug/Austerlitz.DAL.pdb
/Austerlitz.DAL/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
/Austerlitz.DAL/obj/Debug/Austerlitz.DAL.csproj.FileListAbsolute.txt
/Austerlitz.DAL/.vs/Austerlitz.DAL.csproj.dtbcache.json
/Austerlitz.DAL/bin/Debug/Austerlitz.DAL.dll
/Austerlitz.DAL/bin/Debug/Austerlitz.DAL.dll.config
/Austerlitz.DAL/bin/Debug/Austerlitz.DAL.pdb
/DomainTypes/Properties/AssemblyInfo.cs
/Austerlitz/database/Austerlitz.mdf
/.vs/CopilotSnapshots/EE976137D3488F4D8E8CB6267644AAA9/7B2CDE628C85A343AEF3159C1D7FF6A0/9B2701D084EF882715B8182DB8C8B336
*.mpack
/Austerlitz.Domain/bin/Debug/Austerlitz.Domain.dll
/Austerlitz.Domain/bin/Debug/Austerlitz.Domain.pdb
/Austerlitz.Domain/obj/Debug/Austerlitz.Domain.dll
/Austerlitz.Domain/obj/Debug/Austerlitz.Domain.pdb
