<!DOCTYPE><html ng-app="austerlitzModule">
<head>
    <meta charset="utf-8" />

    <base href="/" />

    <title>Austerlitz</title>
    <link href="~/Content/bootstrap.css" rel="stylesheet" />
    <link href="~/Content/cerulean-theme-bootstrap.min.css" rel="stylesheet" />
    <link href="~/Content/ng-grid.css" rel="stylesheet" />
    <link href="~/Content/Site.css" rel="stylesheet" />

    <script src="~/Scripts/jquery-2.1.1.min.js"></script>
    <script src="~/Scripts/angular.js"></script>
    <script src="~/Scripts/angular-route.js"></script>
    <script src="~/Scripts/angular-sanitize.js"></script>

    <script src="//angular-ui.github.io/bootstrap/ui-bootstrap-tpls-0.11.0.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
    <script src="~/Scripts/ng-grid.js"></script>

    <script src="~/Scripts/App/App.js"></script>
    <script src="~/Scripts/App/rulesCatalogFactory.js"></script>
    <script src="~/Scripts/App/turnSheetFactory.js"></script>
    <script src="~/Scripts/App/bgModalController.js"></script>
    <script src="~/Scripts/App/homeController.js"></script>
    <script src="~/Scripts/App/brigadeCalculatorController.js"></script>
</head>

          <body style="padding-top:60px" >
              <header>
                  <div class="nav navbar-default navbar-fixed-top ">
                      <div class="container">
                          <div class="navbar-header">
                              <a href="/Austerlitz/home" class="navbar-brand">Home</a>
                          </div>
                          <div class="navbar-collapse collapse ">
                              <ul class="nav navbar-nav">
                                  <li><a href="/Austerlitz/BrigadeCalculator">BrigadeCalculator</a></li>
                                  <li><a href="/Austerlitz/Questions/1">Questions</a></li>
                                  <li><a href="/Austerlitz/Answers">Answers</a></li>
                                  <li><a href="/Austerlitz/Bootstrap">Mini-Apps</a></li>
                                  <li class="nav nav-divider"></li>
                                  <li class=" navbar-right dropdown">
                                      <a href="/Austerlitz/home3" class="dropdown-toggle">menu<b class="caret"></b></a>

                                      <ul class="dropdown-menu">
                                          <li>
                                              <a href="#/list">Resources</a>
                                          </li>
                                          <li>
                                              <a href="#/list">Political</a>
                                          </li>
                                      </ul>
                                  </li>
                              </ul>
                          </div>
                      </div>
                  </div>
              </header>

              <main ng-init="init();" ng-view="">
                  @RenderBody()
              </main>

              <footer class="container">
                  <div class="navbar navbar-fixed-bottom"></div>
              </footer>
          </body>

</html>

