<div class="container" style="width:1400px;padding-left:0px; padding-right:0px;">
    <div ng-class="lhsColWidth" style="padding-left:0px; padding-right:0px;">

        <form name="showReelForm" ng-submit="createShowReel">
            <div>
                <div style="text-align:center"><h3>Brigade Calculator</h3></div>


                <div class="row">
                    <div class="col-md-12" style="text-align:center">
                        <h4>-03- Set Up Brigades</h4>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12" style="text-align:center">
                        <alert class="alert alert-warning" style="text-align:center" ng-show="!videoClipsSelected && formSubmitted">At least one Video Clip Required to Create a Show Reel</alert>
                    </div>
                </div>
                <div>
                    <table class="table table-hover">
                        <tr>
                            <th>No.</th>
                            <th>Depot</th>
                            <th>1</th>
                            <th>2</th>
                            <th>3</th>
                            <th>4</th>
                            <th>5</th>
                            <th>6</th>
                            <th>7</th>
                            <th>Name</th>
                            <th></th>
                        </tr>
                        <tr ng-repeat="turnSheetSetUpBrigade in turnSheetSetUpBrigades" tooltip-placement="left" tooltip="">
                            <td>{{turnSheetSetUpBrigade.orderNo}}</td>
                            <td>{{turnSheetSetUpBrigade.depot}}</td>
                            <td><div ng-click="addBrigadeToTurnSheet(selectedBrigadeNo, turnSheetSetUpBrigade.orderNo, 'batt1')">{{turnSheetSetUpBrigade.batt1}}</div></td>
                            <td><div ng-click="addBrigadeToTurnSheet(selectedBrigadeNo, turnSheetSetUpBrigade.orderNo, 'batt2')">{{turnSheetSetUpBrigade.batt2}}</div></td>
                            <td><div ng-click="addBrigadeToTurnSheet(selectedBrigadeNo, turnSheetSetUpBrigade.orderNo, 'batt3')">{{turnSheetSetUpBrigade.batt3}}</div></td>
                            <td><div ng-click="addBrigadeToTurnSheet(selectedBrigadeNo, turnSheetSetUpBrigade.orderNo, 'batt4')">{{turnSheetSetUpBrigade.batt4}}</div></td>
                            <td><div ng-click="addBrigadeToTurnSheet(selectedBrigadeNo, turnSheetSetUpBrigade.orderNo, 'batt5')">{{turnSheetSetUpBrigade.batt5}}</div></td>
                            <td><div ng-click="addBrigadeToTurnSheet(selectedBrigadeNo, turnSheetSetUpBrigade.orderNo, 'batt6')">{{turnSheetSetUpBrigade.batt6}}</div></td>
                            <td><div ng-click="addBrigadeToTurnSheet(selectedBrigadeNo, turnSheetSetUpBrigade.orderNo, 'batt7')">{{turnSheetSetUpBrigade.batt7}}</div></td>
                            <td>{{turnSheetSetUpBrigade.name}}</td>
                            <td>
                                <span tooltip-placement="right" tooltip="Remove Clip from Show Reel" class="glyphicon glyphicon-minus-sign" ng-click="removeClip(videoClip.id)"></span>
                            </td>
                        </tr>
                    </table>
                </div>

                <div class="row">
                    <div style="text-align: center;">
                        <button type="submit" class="btn btn-info" tooltip-placement="right" tooltip="Calculate Brigade Set-Up Costs" ng-click="calculateCosts()">Calculate Costs</button>
                        <button type="submit" class="btn btn-info" tooltip-placement="right" tooltip="Save Brigade Set-Up Costs" ng-click="saveTurnSheetSetUpBrigades()">Save Set-Up Brigades</button>
                    </div>
                </div>

            </div>

        </form>

    </div>

    <div ng-class="rhsColWidth" style="padding-left:0px; padding-right:0px;">
        <div class="alert alert-info">
            <div style="height:40px;text-align:center">
                <h3>Army List</h3>
                <span style="float:left" tooltip-placement="right" tooltip="Selected a Battalion, then click the grid to add that Battalion type. Double-click to remove it." class="glyphicon glyphicon-info-sign">
                </span>

            </div>

            <table class="table-condensed table-hover">
                <tr>
                    <th>St</th>
                    <th>No.</th>
                    <th>Name</th>
                    <th>Sht</th>
                    <th>Cost</th>
                    <th>EcPt</th>
                    <th>EF</th>
                    <th>HC</th>
                    <th>LR</th>
                    <th>RG</th>
                    <th>S.MP</th>
                    <th>MP</th>
                    <th>Col</th>
                    <th>TS</th>
                    <th></th>
                </tr>
                <tr ng-repeat="brigadeType in armyList" ng-class="selectedBrigadeNo==brigadeType.itemNo?'alert-success':'alert-info'" tooltip-placement="left" tooltip="Select a brigade to build" ng-click="selectBrigadeToAdd(brigadeType.itemNo)">

                    <td>{{brigadeType.state}}</td>
                    <td>{{brigadeType.itemNo}}</td>
                    <td>{{brigadeType.name}}</td>
                    <td>{{brigadeType.shortName}}</td>
                    <td>{{brigadeType.cost}}</td>
                    <td>{{brigadeType.ecPtsPer25}}</td>
                    <td>{{brigadeType.ef}}</td>
                    <td>{{brigadeType.hc}}</td>
                    <td>{{brigadeType.lr}}</td>
                    <td>{{brigadeType.rg}}</td>
                    <td>{{brigadeType.simMP}}</td>
                    <td>{{brigadeType.mp}}</td>
                    <td><label ng-show="brigadeType.isColonial" ng->Y</label><label ng-show="!brigadeType.isColonial" ng->N</label></td>
                    <td>{{brigadeType.troopSpecification}}</td>
                    <td>
                        <span tooltip-placement="right" ng-show="selectedBrigadeNo==brigadeType.itemNo" tooltip="Selected Battalion to add to your grid" class="glyphicon glyphicon-plus-sign"</span>
                    </td>
                </tr>
            </table>
        </div>
    </div>
</div>



