<div class="landUnitsExistingArmyPane">
  <div class="alert alert-info landUnitsAlert" ng-show="isLoading">
    Loading brigades...
  </div>

  <div class="alert alert-danger landUnitsAlert" ng-show="loadError">
    {{loadError}}
  </div>

  <div class="alert alert-warning landUnitsAlert" ng-show="replayWarnings.length">
    <strong>Some saved turn orders could not be replayed:</strong>
    <div ng-repeat="warning in replayWarnings track by $index">{{warning}}</div>
  </div>

  <div
    class="alert alert-info landUnitsAlert"
    ng-show="positionFilter || (selectedSphere && selectedSphere !== 'All')"
  >
    {{positionFilter ? ('Showing only units at position ' + positionFilter + '.') : ('Showing all units in sphere ' + selectedSphere + '.')}}
    <a href="" ng-click="$event.preventDefault(); clearPositionFilter()"
      >Show all units</a
    >
  </div>

  <div
    class="landUnitsSectionHeader"
    ng-show="!isModalMode() && federationSummaryPairRows.length > 0"
  >
    <span class="landUnitsSectionTitle">Federation Summary</span>
  </div>

  <div
    class="landUnitsTableWrap"
    ng-show="!isModalMode() && federationSummaryPairRows.length > 0"
  >
    <table class="table landUnitsTable landUnitsFederationSummaryTable" style="font-size:11px">
      <colgroup>
        <col style="width:5%" /><col style="width:5%" /><col style="width:5%" />
        <col style="width:5%" /><col style="width:5%" /><col style="width:5%" />
        <col style="width:5%" /><col style="width:5%" /><col style="width:5%" />
        <col style="width:5%" /><col style="width:5%" /><col style="width:5%" />
        <col style="width:5%" /><col style="width:5%" /><col style="width:5%" />
        <col style="width:5%" /><col style="width:5%" /><col style="width:5%" />
        <col style="width:5%" /><col style="width:5%" />
      </colgroup>
      <thead>
        <tr>
          <th>Fed No</th>
          <th>x/y</th>
          <th>Max MP</th>
          <th>Max CC</th>
          <th>Load Cap</th>
          <th>Inf</th>
          <th>Cav</th>
          <th>Art</th>
          <th>Total</th>
          <th>% HC</th>
          <th class="landUnitsSummarySecondGroupStart">Fed No</th>
          <th>x/y</th>
          <th>Max MP</th>
          <th>Max CC</th>
          <th>Load Cap</th>
          <th>Inf</th>
          <th>Cav</th>
          <th>Art</th>
          <th>Total</th>
          <th>% HC</th>
        </tr>
      </thead>
      <tbody>
        <tr ng-repeat="pair in federationSummaryPairRows track by $index">
          <td>{{pair.left.fedNo}}</td>
          <td
            class="landUnitsPositionCol"
            ng-dblclick="!pair.left.isMixedPosition && pair.left.position !== '-' && togglePositionFilter({ position: pair.left.position })"
            title="{{pair.left.isMixedPosition ? 'Federation spans multiple coordinates' : 'Double-click to toggle between this X/Y and this sphere'}}"
          >{{pair.left.position}}</td>
          <td>{{pair.left.maxMp}}</td>
          <td>{{pair.left.maxCc}}</td>
          <td>{{pair.left.totalLoadingCapacity}}</td>
          <td>{{pair.left.inf}}</td>
          <td>{{pair.left.cav}}</td>
          <td>{{pair.left.art}}</td>
          <td>{{pair.left.total}}</td>
          <td>{{pair.left.percentHc}}%</td>

          <td class="landUnitsSummarySecondGroupStart">{{pair.right ? pair.right.fedNo : ''}}</td>
          <td
            class="landUnitsPositionCol"
            ng-dblclick="pair.right && !pair.right.isMixedPosition && pair.right.position !== '-' && togglePositionFilter({ position: pair.right.position })"
            title="{{pair.right && pair.right.isMixedPosition ? 'Federation spans multiple coordinates' : 'Double-click to toggle between this X/Y and this sphere'}}"
          >{{pair.right ? pair.right.position : ''}}</td>
          <td>{{pair.right ? pair.right.maxMp : ''}}</td>
          <td>{{pair.right ? pair.right.maxCc : ''}}</td>
          <td>{{pair.right ? pair.right.totalLoadingCapacity : ''}}</td>
          <td>{{pair.right ? pair.right.inf : ''}}</td>
          <td>{{pair.right ? pair.right.cav : ''}}</td>
          <td>{{pair.right ? pair.right.art : ''}}</td>
          <td>{{pair.right ? pair.right.total : ''}}</td>
          <td>{{pair.right ? (pair.right.percentHc + '%') : ''}}</td>
        </tr>
      </tbody>
    </table>
  </div>

  <div
    class="alert alert-warning landUnitsAlert"
    ng-show="!isLoading && !loadError && brigadeRows.length === 0"
  >
    No brigades are available for the selected turn.
  </div>

  <div class="landUnitsSectionHeader" ng-show="commanderRows.length > 0">
    <button
      type="button"
      class="ts-collapse-button"
      ng-click="toggleCommandersSection()"
    >
      {{commandersSectionCollapsed ? '+' : '-'}}
    </button>
    <span class="landUnitsSectionTitle">Commanders</span>
    <span class="landUnitsSectionMeta">{{commanderRows.length}} / 10</span>
  </div>

  <div
    class="alert alert-warning landUnitsAlert"
    ng-show="commanderOverflowCount > 0"
  >
    Only the first 10 commanders are shown ({{commanderOverflowCount}}
    additional commanders are hidden).
  </div>

  <div
    class="alert alert-info landUnitsAlert"
    ng-show="!isLoading && !loadError && commanderRows.length === 0"
  >
    No commanders are available for the selected turn.
  </div>

  <div
    class="landUnitsTableWrap"
    ng-show="commanderRows.length > 0 && !commandersSectionCollapsed && !isMovementSelectionMode()"
  >
    <table class="table landUnitsTable landUnitsExistingArmyCommandersTable">
      <colgroup>
        <col class="landUnitsColId" />
        <col class="landUnitsColName" />
        <col class="landUnitsColPos" />
        <col class="landUnitsColFed" />
        <col class="landUnitsColMp" />
        <col class="landUnitsCommanderColCmd" />
        <col class="landUnitsColToggle" />
        <col class="landUnitsColMenu" ng-if="!isModalMode()" />
        <col class="landUnitsColId" />
        <col class="landUnitsColName" />
        <col class="landUnitsColPos" />
        <col class="landUnitsColFed" />
        <col class="landUnitsColMp" />
        <col class="landUnitsCommanderColCmd" />
        <col class="landUnitsColToggle" />
        <col class="landUnitsColMenu" ng-if="!isModalMode()" />
      </colgroup>
      <thead>
        <tr>
          <th class="landUnitsIdCol">ID</th>
          <th class="landUnitsNameCol">
            Name
            <span
              ng-if="!isModalMode()"
              class="glyphicon glyphicon-pencil"
              aria-hidden="true"
              title="Double-click names to rename"
            ></span>
          </th>
          <th class="landUnitsPositionCol">Pos</th>
          <th class="landUnitsFedCol">Fed</th>
          <th class="landUnitsMpCol">MP</th>
          <th class="landUnitsCommanderCmdCol">Cmd (Rank)</th>
          <th class="landUnitsToggleCol">Board</th>
          <th class="landUnitsMenuCol" ng-if="!isModalMode()"></th>
          <th class="landUnitsIdCol">ID</th>
          <th class="landUnitsNameCol">
            Name
            <span
              ng-if="!isModalMode()"
              class="glyphicon glyphicon-pencil"
              aria-hidden="true"
              title="Double-click names to rename"
            ></span>
          </th>
          <th class="landUnitsPositionCol">Pos</th>
          <th class="landUnitsFedCol">Fed</th>
          <th class="landUnitsMpCol">MP</th>
          <th class="landUnitsCommanderCmdCol">Cmd (Rank)</th>
          <th class="landUnitsToggleCol">Board</th>
          <th class="landUnitsMenuCol" ng-if="!isModalMode()"></th>
        </tr>
      </thead>
      <tbody>
        <tr ng-repeat="pair in commanderPairRows track by $index">
          <td class="landUnitsIdCol">{{pair.left.id}}</td>
          <td
            class="landUnitsNameCol"
            ng-dblclick="!isModalMode() && beginRename(pair.left)"
          >
            <span
              ng-show="!pair.left.isRenaming"
              title="{{isModalMode() ? '' : 'Double-click to rename'}}"
              >{{pair.left.name}}</span
            >
            <input
              ng-show="pair.left.isRenaming"
              class="form-control input-sm landUnitsRenameInput"
              ng-model="pair.left.pendingName"
              maxlength="15"
              ng-keydown="onRenameKeydown($event, pair.left)"
              ng-blur="applyRename(pair.left)"
            />
          </td>
          <td
            class="landUnitsPositionCol"
            ng-dblclick="togglePositionFilter(pair.left)"
            title="Double-click to toggle between this X/Y and this sphere"
          >
            {{pair.left.position || '-'}}
          </td>
          <td class="landUnitsFedCol">
            <button
              type="button"
              class="landUnitsFederationChip"
              ng-class="{ landUnitsFederationChipChanged: pair.left.fedChanged }"
              ng-click="openFormFederationModal(pair.left, $event)"
              title="Click to form or change federation"
            >
              {{pair.left.fed || '-'}}
            </button>
          </td>
          <td class="landUnitsMpCol">{{pair.left.mp}}</td>
          <td class="landUnitsCommanderCmdCol">
            {{pair.left.commandCapacity}}
            <span ng-if="pair.left.rank">({{pair.left.rank}})</span>
          </td>
          <td class="landUnitsToggleCol">
            <button
              type="button"
              class="landUnitsToggleButton"
              ng-style="getBrigadeToggleStyle(pair.left.boardingSelected)"
              ng-click="openBoardingModal(pair.left)"
            >
              {{getBoardingButtonLabel(pair.left)}}
            </button>
          </td>
          <td class="landUnitsMenuCol" ng-if="!isModalMode()">
            <div class="dropdown landUnitsActionDropdown">
              <button
                class="btn btn-link landUnitsActionButton dropdown-toggle"
                type="button"
                data-toggle="dropdown"
              >
                ...
              </button>
              <ul
                class="dropdown-menu dropdown-menu-right landUnitsActionMenu"
              >
                <li ng-repeat="action in brigadeActions">
                  <a href="" ng-click="selectBrigadeAction(action, pair.left)"
                    >{{action}}</a
                  >
                </li>
              </ul>
            </div>
          </td>

          <td class="landUnitsIdCol">{{pair.right ? pair.right.id : ''}}</td>
          <td
            class="landUnitsNameCol"
            ng-dblclick="!isModalMode() && pair.right && beginRename(pair.right)"
          >
            <span
              ng-if="pair.right && !pair.right.isRenaming"
              title="{{isModalMode() ? '' : 'Double-click to rename'}}"
              >{{pair.right.name}}</span
            >
            <input
              ng-if="pair.right && pair.right.isRenaming"
              class="form-control input-sm landUnitsRenameInput"
              ng-model="pair.right.pendingName"
              maxlength="15"
              ng-keydown="onRenameKeydown($event, pair.right)"
              ng-blur="applyRename(pair.right)"
            />
          </td>
          <td
            class="landUnitsPositionCol"
            ng-dblclick="pair.right && togglePositionFilter(pair.right)"
            title="Double-click to toggle between this X/Y and this sphere"
          >
            {{pair.right ? (pair.right.position || '-') : ''}}
          </td>
          <td class="landUnitsFedCol">
            <button
              ng-if="pair.right"
              type="button"
              class="landUnitsFederationChip"
              ng-class="{ landUnitsFederationChipChanged: pair.right.fedChanged }"
              ng-click="openFormFederationModal(pair.right, $event)"
              title="Click to form or change federation"
            >
              {{pair.right.fed || '-'}}
            </button>
          </td>
          <td class="landUnitsMpCol">{{pair.right ? pair.right.mp : ''}}</td>
          <td class="landUnitsCommanderCmdCol">
            <span ng-if="pair.right"
              >{{pair.right.commandCapacity}}
              <span ng-if="pair.right.rank">({{pair.right.rank}})</span></span
            >
          </td>
          <td class="landUnitsToggleCol">
            <button
              ng-if="pair.right"
              type="button"
              class="landUnitsToggleButton"
              ng-style="getBrigadeToggleStyle(pair.right.boardingSelected)"
              ng-click="openBoardingModal(pair.right)"
            >
              {{getBoardingButtonLabel(pair.right)}}
            </button>
          </td>
          <td class="landUnitsMenuCol" ng-if="!isModalMode()">
            <div ng-if="pair.right" class="dropdown landUnitsActionDropdown">
              <button
                class="btn btn-link landUnitsActionButton dropdown-toggle"
                type="button"
                data-toggle="dropdown"
              >
                ...
              </button>
              <ul
                class="dropdown-menu dropdown-menu-right landUnitsActionMenu"
              >
                <li ng-repeat="action in brigadeActions">
                  <a
                    href=""
                    ng-click="selectBrigadeAction(action, pair.right)"
                    >{{action}}</a
                  >
                </li>
              </ul>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>

  <div
    class="landUnitsTableWrap"
    ng-show="commanderRows.length > 0 && !commandersSectionCollapsed && isMovementSelectionMode()"
  >
    <table class="table landUnitsTable landUnitsExistingArmyCommandersTable landUnitsMovementSelectionTable">
      <thead>
        <tr>
          <th class="landUnitsIdCol">ID</th>
          <th class="landUnitsNameCol">Name</th>
          <th class="landUnitsPositionCol">Pos</th>
          <th class="landUnitsFedCol">Fed</th>
          <th class="landUnitsMpCol">MP</th>
          <th class="landUnitsCommanderCmdCol">Cmd (Rank)</th>
          <th class="landUnitsToggleCol">Board</th>
        </tr>
      </thead>
      <tbody>
        <tr
          class="landUnitsMovementSelectionRow"
          ng-repeat="commander in filteredCommanderRows() track by commander.id"
          ng-class="{ landUnitsMovementOrderExists: hasMovementOrder(commander), itemGridRowSelected: isMovementUnitSelected(commander) }"
          ng-click="selectMovementUnit(commander, 'item')"
        >
          <td class="landUnitsIdCol">{{commander.id}}</td>
          <td class="landUnitsNameCol">{{commander.name}}</td>
          <td class="landUnitsPositionCol">{{commander.position || '-'}}</td>
          <td class="landUnitsFedCol landUnitsMovementFederationCol">
            <span class="landUnitsFederationChip">{{commander.fed || '-'}}</span>
            <button
              type="button"
              class="btn btn-default btn-xs"
              ng-click="$event.stopPropagation(); selectMovementUnit(commander, 'fed')"
              ng-disabled="commander.fed == null || commander.fed === ''"
            >
              Move Fed
            </button>
          </td>
          <td class="landUnitsMpCol">{{commander.mp}}</td>
          <td class="landUnitsCommanderCmdCol">
            {{commander.commandCapacity}}
            <span ng-if="commander.rank">({{commander.rank}})</span>
          </td>
          <td class="landUnitsToggleCol">
            <button
              type="button"
              class="landUnitsToggleButton"
              ng-click="$event.stopPropagation(); openBoardingModal(commander)"
            >
              {{getBoardingButtonLabel(commander)}}
            </button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>

  <div class="landUnitsSectionHeader" ng-show="brigadeRows.length > 0">
    <button
      type="button"
      class="ts-collapse-button"
      ng-click="toggleBrigadesSection()"
    >
      {{brigadesSectionCollapsed ? '+' : '-'}}
    </button>
    <span class="landUnitsSectionTitle">Brigades</span>
    <span class="landUnitsSectionMeta">{{filteredBrigadeRows().length}}</span>
  </div>

  <div
    class="landUnitsTableWrap"
    ng-show="brigadeRows.length > 0 && !brigadesSectionCollapsed"
  >
    <table
      class="table landUnitsTable landUnitsExistingArmyTable"
      ng-class="{ landUnitsMovementSelectionTable: isMovementSelectionMode() }"
    >
      <colgroup>
        <col class="landUnitsColId" />
        <col class="landUnitsColName" />
        <col class="landUnitsColPos" />
        <col class="landUnitsColFed" />
        <col class="landUnitsColMp" />
        <col class="landUnitsColBattalion" />
        <col class="landUnitsColBattalion" />
        <col class="landUnitsColBattalion" />
        <col class="landUnitsColBattalion" />
        <col class="landUnitsColBattalion" />
        <col class="landUnitsColBattalion" />
        <col class="landUnitsColBattalion" />
        <col class="landUnitsColToggle" ng-if="!isModalMode()" />
        <col class="landUnitsColToggle" ng-if="!isModalMode()" />
        <col class="landUnitsColToggle" />
        <col class="landUnitsColMenu" ng-if="!isModalMode()" />
      </colgroup>
      <thead>
        <tr>
          <th class="landUnitsIdCol">ID</th>
          <th class="landUnitsNameCol">
            Name
            <span
              ng-if="!isModalMode()"
              class="glyphicon glyphicon-pencil"
              aria-hidden="true"
              title="Double-click names to rename"
            ></span>
          </th>
          <th class="landUnitsPositionCol">Pos</th>
          <th class="landUnitsFedCol">Fed</th>
          <th class="landUnitsMpCol">MP</th>
          <th class="landUnitsBattalionCol" ng-repeat="index in [1,2,3,4,5,6,7]">
            Batt {{index}}
          </th>
          <th class="landUnitsToggleCol" ng-if="!isModalMode()">H/C</th>
          <th class="landUnitsToggleCol" ng-if="!isModalMode()">Train</th>
          <th class="landUnitsToggleCol">Board</th>
          <th class="landUnitsMenuCol" ng-if="!isModalMode()"></th>
        </tr>
      </thead>
      <tbody>
        <tr
          ng-repeat="brigade in filteredBrigadeRows() track by brigade.id"
          ng-class="{ landUnitsMovementSelectionRow: isMovementSelectionMode(), landUnitsMovementOrderExists: hasMovementOrder(brigade), itemGridRowSelected: isMovementUnitSelected(brigade) }"
          ng-click="isMovementSelectionMode() && selectMovementUnit(brigade, 'item')"
        >
          <td class="landUnitsIdCol">{{brigade.id}}</td>
          <td
            class="landUnitsNameCol"
            ng-dblclick="!isModalMode() && beginRename(brigade)"
          >
            <span
              ng-show="!brigade.isRenaming"
              title="{{isModalMode() ? '' : 'Double-click to rename'}}"
              >{{brigade.name}}</span
            >
            <input
              ng-show="brigade.isRenaming"
              class="form-control input-sm landUnitsRenameInput"
              ng-model="brigade.pendingName"
              maxlength="15"
              ng-keydown="onRenameKeydown($event, brigade)"
              ng-blur="applyRename(brigade)"
            />
          </td>
          <td
            class="landUnitsPositionCol"
            ng-dblclick="togglePositionFilter(brigade)"
            title="Double-click to toggle between this X/Y and this sphere"
          >
            {{brigade.position}}
          </td>
          <td class="landUnitsFedCol landUnitsMovementFederationCol">
            <button
              ng-if="!isMovementSelectionMode()"
              type="button"
              class="landUnitsFederationChip"
              ng-class="{ landUnitsFederationChipChanged: brigade.fedChanged }"
              ng-click="openFormFederationModal(brigade, $event)"
              title="Click to form or change federation"
            >
              {{brigade.fed || '-'}}
            </button>
            <span
              ng-if="isMovementSelectionMode()"
              class="landUnitsFederationChip"
            >
              {{brigade.fed || '-'}}
            </span>
            <button
              ng-if="isMovementSelectionMode()"
              type="button"
              class="btn btn-default btn-xs"
              ng-click="$event.stopPropagation(); selectMovementUnit(brigade, 'fed')"
              ng-disabled="brigade.fed == null || brigade.fed === ''"
            >
              Move Fed
            </button>
          </td>
          <td class="landUnitsMpCol">{{brigade.mp}}</td>
          <td
            class="landUnitsBattalionCol"
            ng-repeat="battalion in brigade.battalions track by $index"
          >
            <div
              ng-if="!isModalMode()"
              class="dropdown landUnitsBattalionDropdown"
              ng-class="{ landUnitsBattalionActionSource: isBattalionActionSource(brigade, battalion), landUnitsBattalionActionEligible: isBattalionEligibleTarget(brigade, battalion) }"
            >
              <button
                type="button"
                class="landUnitsBattalionChip landUnitsBattalionChipButton dropdown-toggle"
                data-toggle="dropdown"
                ng-class="{ landUnitsBattalionChipEfDrop1: battalion.efDrop === 1, landUnitsBattalionChipEfDrop2: battalion.efDrop === 2, landUnitsBattalionChipEfIncrease: battalion.efIncrease > 0, landUnitsBattalionChipNew: battalion.isNewAddition, landUnitsBattalionChipLocked: isBattalionLockedForOrders(battalion), landUnitsBattalionChipDemolished: battalion.isDemolishedThisTurn }"
                ng-click="onBattalionLozengeClick($event, brigade, battalion)"
                title="{{getBattalionTitle(battalion)}}"
              >
                <span>{{getBattalionLozengeDisplay(battalion)}}</span>
              </button>
              <ul class="dropdown-menu landUnitsBattalionMenu">
                <li
                  ng-show="!battalion.type && !battalion.isDemolishedThisTurn"
                  ng-class="{ disabled: brigadeHasLockedBattalion(brigade) }"
                >
                  <a
                    href=""
                    ng-click="$event.preventDefault(); !brigadeHasLockedBattalion(brigade) && openAddBattalionModal(brigade, battalion, $event)"
                    >Add Battalion</a
                  >
                </li>
                <li ng-show="isBattalionLockedForOrders(battalion)">
                  <a
                    href=""
                    ng-click="clearBattalionTurnOrder(brigade, battalion, $event)"
                    >Clear Order</a
                  >
                </li>
                <li
                  ng-class="{ disabled: battalion.isNewAddition || isBattalionLockedForOrders(battalion) }"
                >
                  <a
                    href=""
                    ng-click="$event.preventDefault(); !battalion.isNewAddition && !isBattalionLockedForOrders(battalion) && startBattalionAction('exchange', brigade, battalion, $event)"
                    >Exchange</a
                  >
                </li>
                <li
                  ng-class="{ disabled: !canStartMerge(battalion) || battalion.isNewAddition || isBattalionLockedForOrders(battalion) }"
                >
                  <a
                    href=""
                    ng-click="$event.preventDefault(); canStartMerge(battalion) && !battalion.isNewAddition && !isBattalionLockedForOrders(battalion) && startBattalionAction('merge', brigade, battalion, $event)"
                    >Merge</a
                  >
                </li>
                <li
                  ng-show="!battalion.isDemolishedThisTurn"
                  ng-class="{ disabled: !canDemolishBattalion(battalion) }"
                >
                  <a
                    href=""
                    ng-click="$event.preventDefault(); canDemolishBattalion(battalion) && demolishBattalion(brigade, battalion, $event)"
                    >Demolish</a
                  >
                </li>
                <li ng-show="battalion.isDemolishedThisTurn">
                  <a
                    href=""
                    ng-click="cancelDemolishBattalion(brigade, battalion, $event)"
                    >Cancel Demolish</a
                  >
                </li>
              </ul>
            </div>
            <div ng-if="isModalMode()" class="landUnitsBattalionDropdown">
              <button
                type="button"
                class="landUnitsBattalionChip landUnitsBattalionChipButton"
                ng-class="{ landUnitsBattalionChipNew: battalion.isNewAddition, landUnitsBattalionChipLocked: isBattalionLockedForOrders(battalion), landUnitsBattalionChipDemolished: battalion.isDemolishedThisTurn }"
                title="{{getBattalionTitle(battalion)}}"
              >
                <span>{{getBattalionLozengeDisplay(battalion)}}</span>
              </button>
            </div>
          </td>
          <td class="landUnitsToggleCol" ng-if="!isModalMode()">
            <button
              type="button"
              class="landUnitsToggleButton"
              ng-class="{ landUnitsToggleButtonDisabled: !canUseBarracksAction(brigade) }"
              ng-style="getBrigadeToggleStyle(brigade.headcountSelected)"
              ng-click="openHeadcountModal(brigade)"
              ng-disabled="!canUseBarracksAction(brigade)"
              title="{{getBarracksActionTooltip(brigade)}}"
            >
              H/C
            </button>
          </td>
          <td class="landUnitsToggleCol" ng-if="!isModalMode()">
            <button
              type="button"
              class="landUnitsToggleButton"
              ng-class="{ landUnitsToggleButtonDisabled: !canUseBarracksAction(brigade) }"
              ng-style="getBrigadeToggleStyle(brigade.trainSelected)"
              ng-click="openTrainModal(brigade)"
              ng-disabled="!canUseBarracksAction(brigade)"
              title="{{getBarracksActionTooltip(brigade)}}"
            >
              Train
            </button>
          </td>
          <td class="landUnitsToggleCol">
            <button
              type="button"
              class="landUnitsToggleButton"
              ng-style="getBrigadeToggleStyle(brigade.boardingSelected)"
              ng-click="isMovementSelectionMode() && $event.stopPropagation(); openBoardingModal(brigade)"
            >
              {{getBoardingButtonLabel(brigade)}}
            </button>
          </td>
          <td class="landUnitsMenuCol" ng-if="!isModalMode()">
            <div class="dropdown landUnitsActionDropdown">
              <button
                class="btn btn-link landUnitsActionButton dropdown-toggle"
                type="button"
                data-toggle="dropdown"
              >
                ...
              </button>
              <ul
                class="dropdown-menu dropdown-menu-right landUnitsActionMenu"
              >
                <li ng-repeat="action in brigadeActions">
                  <a href="" ng-click="selectBrigadeAction(action, brigade)"
                    >{{action}}</a
                  >
                </li>
              </ul>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>

  <div class="landUnitsSectionHeader" ng-show="spyRows.length > 0">
    <span class="landUnitsSectionTitle">Spies</span>
    <span class="landUnitsSectionMeta">{{filteredSpyRows().length}}</span>
  </div>

  <div
    class="alert alert-info landUnitsAlert"
    ng-show="!isLoading && !loadError && spyRows.length === 0"
  >
    No spies are available for the selected turn.
  </div>

  <div class="landUnitsTableWrap" ng-show="spyRows.length > 0">
    <table
      class="table landUnitsTable landUnitsExistingArmySpiesTable"
      ng-class="{ landUnitsMovementSelectionTable: isMovementSelectionMode() }"
    >
      <thead>
        <tr>
          <th class="landUnitsIdCol">Spy</th>
          <th class="landUnitsPositionCol">Pos</th>
          <th class="landUnitsPositionCol">Boarded</th>
          <th>Report</th>
          <th class="landUnitsMpCol">MP</th>
          <th class="landUnitsToggleCol">Board</th>
        </tr>
      </thead>
      <tbody>
        <tr
          ng-repeat="spy in filteredSpyRows() track by spy.id"
          ng-class="{ landUnitsMovementSelectionRow: isMovementSelectionMode(), landUnitsMovementOrderExists: hasMovementOrder(spy), itemGridRowSelected: isMovementUnitSelected(spy) }"
          ng-click="isMovementSelectionMode() && selectMovementUnit(spy, 'item')"
        >
          <td class="landUnitsIdCol">{{spy.itemNo}}</td>
          <td class="landUnitsPositionCol">{{spy.position || '-'}}</td>
          <td class="landUnitsPositionCol">{{formatSpyBoarded(spy)}}</td>
          <td>{{spy.report || '-'}}</td>
          <td class="landUnitsMpCol">{{spy.mp != null ? spy.mp : '-'}}</td>
          <td class="landUnitsToggleCol">
            <button
              type="button"
              class="landUnitsToggleButton"
              ng-style="getSpyBoardToggleStyle(spy.boardingSelected)"
              ng-click="isMovementSelectionMode() && $event.stopPropagation(); openSpyBoardingModal(spy)"
            >
              {{getSpyBoardButtonLabel(spy)}}
            </button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>

  <div
    class="landUnitsModalBackdrop"
    ng-show="spyBoardingModal.isOpen"
    ng-click="closeSpyBoardingModal()"
  ></div>
  <div class="landUnitsModal landUnitsBoardingModal" ng-show="spyBoardingModal.isOpen">
    <div class="landUnitsModalHeader">
      <div>
        <h3>Board Spy</h3>
        <div class="landUnitsModalSubtitle">
          {{spyBoardingModal.spy.id}} - {{spyBoardingModal.spy.x}}/{{spyBoardingModal.spy.y}}
        </div>
      </div>
      <button type="button" class="close" ng-click="closeSpyBoardingModal()">
        &times;
      </button>
    </div>

    <div class="landUnitsModalBody">
      <div class="alert alert-info" ng-show="spyBoardingModal.isLoading">
        Loading ship boarding usage...
      </div>

      <div
        class="alert alert-warning"
        ng-show="!spyBoardingModal.isLoading && (!spyBoardingModal.fleets || spyBoardingModal.fleets.length === 0)"
      >
        No eligible ships are available for this spy.
      </div>

      <div
        class="landUnitsBoardingTableWrap"
        ng-show="spyBoardingModal.fleets && spyBoardingModal.fleets.length > 0"
      >
        <table class="table table-condensed landUnitsTable">
          <thead>
            <tr>
              <th>Ship</th>
              <th>Type</th>
              <th>Position</th>
              <th>Condition</th>
              <th>Total Cap</th>
              <th>Used</th>
              <th>Available</th>
              <th></th>
            </tr>
          </thead>
          <tbody>
            <tr ng-repeat="ship in spyBoardingModal.fleets track by ship.fleetNo">
              <td>{{ship.fleetNo}}</td>
              <td>{{ship.typeLabel}}</td>
              <td>{{ship.position}}</td>
              <td>{{ship.conditionLabel}}</td>
              <td>{{ship.totalCapacity}}</td>
              <td>{{ship.usedCapacityWhole}}</td>
              <td>{{ship.remainingCapacity}}</td>
              <td>
                <button
                  type="button"
                  class="landUnitsToggleButton"
                  ng-click="handleSpyBoardingRowAction(ship)"
                  ng-style="getSpyBoardToggleStyle(ship.isCurrentlyAssigned)"
                  ng-disabled="!ship.isCurrentlyAssigned && ship.wouldExceedForCurrentSpy"
                  title="{{ship.isCurrentlyAssigned ? 'Unboard this spy from selected ship' : (ship.wouldExceedForCurrentSpy ? 'Not enough remaining capacity for this spy' : '')}}"
                >
                  {{ship.isCurrentlyAssigned ? 'Unboard' : '+Board'}}
                </button>
                <span class="text-muted">
                  (Load: {{ship.currentUnitCapacityWholeUp}})
                </span>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>

    <div class="landUnitsModalFooter">
      <button
        type="button"
        class="btn btn-danger btn-sm"
        ng-show="spyBoardingModal.spy.boardingSelected"
        ng-click="removeSpyBoardingFromModal()"
      >
        Remove
      </button>
      <button type="button" class="btn btn-default btn-sm" ng-click="closeSpyBoardingModal()">
        Close
      </button>
    </div>
  </div>

  <div
    class="landUnitsModalBackdrop"
    ng-show="spyUnloadDirectionModal.isOpen"
    ng-click="closeSpyUnloadDirectionModal()"
  ></div>
  <div
    class="landUnitsModal landUnitsBoardingModal"
    ng-show="spyUnloadDirectionModal.isOpen"
  >
    <div class="landUnitsModalHeader">
      <div>
        <h3>Unload Direction</h3>
        <div class="landUnitsModalSubtitle">
          Spy {{spyUnloadDirectionModal.spy.id}}
        </div>
      </div>
      <button type="button" class="close" ng-click="closeSpyUnloadDirectionModal()">
        &times;
      </button>
    </div>

    <div class="landUnitsModalBody">
      <div class="landUnitsCompassPicker">
        <button
          type="button"
          class="landUnitsCompassButton"
          ng-repeat="option in spyUnloadDirectionModal.options"
          ng-class="{
            'landUnitsCompassNorth': option.value === 1,
            'landUnitsCompassEast': option.value === 3,
            'landUnitsCompassSouth': option.value === 5,
            'landUnitsCompassWest': option.value === 7,
            'landUnitsCompassCenter': option.value === 9
          }"
          ng-click="selectSpyUnloadDirection(option.value)"
        >
          {{option.value}}
        </button>
      </div>
    </div>

    <div class="landUnitsModalFooter">
      <button
        type="button"
        class="btn btn-default btn-sm"
        ng-click="closeSpyUnloadDirectionModal()"
      >
        Close
      </button>
    </div>
  </div>

  <div
    class="landUnitsModalBackdrop"
    ng-show="headcountModal.isOpen"
    ng-click="closeHeadcountModal()"
  ></div>
  <div class="landUnitsModal" ng-show="headcountModal.isOpen">
    <div class="landUnitsModalHeader">
      <div>
        <h3>Increase Headcount</h3>
        <div class="landUnitsModalSubtitle">
          {{headcountModal.brigade.id}} {{headcountModal.brigade.name}} -
          {{headcountModal.brigade.position}}
        </div>
      </div>
      <button type="button" class="close" ng-click="closeHeadcountModal()">
        &times;
      </button>
    </div>

    <div class="landUnitsModalBody">
      <div class="form-group">
        <label for="headcountTarget">Raise each battalion to</label>
        <input
          id="headcountTarget"
          type="number"
          min="1"
          max="800"
          class="form-control input-sm landUnitsHeadcountInput"
          ng-model="headcountModal.targetHeadcount"
          ng-change="refreshHeadcountPreview()"
        />
      </div>

      <div class="form-group">
        <label>Apply to</label>
        <div class="radio">
          <label>
            <input
              type="radio"
              name="headcountScope"
              value="brigade"
              ng-model="headcountModal.scope"
              ng-change="onHeadcountScopeChanged()"
            />
            This brigade only
          </label>
        </div>
        <div class="radio">
          <label
            ng-class="{ landUnitsDisabledText: !canApplyFederationScope(headcountModal.brigade) }"
          >
            <input
              type="radio"
              name="headcountScope"
              value="federation"
              ng-model="headcountModal.scope"
              ng-change="onHeadcountScopeChanged()"
              ng-disabled="!canApplyFederationScope(headcountModal.brigade)"
            />
            All brigades in Federation {{headcountModal.brigade.fed || '-'}}
          </label>
        </div>
      </div>

      <div class="landUnitsHeadcountPreview">
        <div>
          <strong>Affected brigades:</strong>
          {{headcountModal.preview.affectedBrigades}}
        </div>
        <div class="landUnitsHeadcountPreviewGrid">
          <span>LD: <strong>{{headcountModal.preview.ld | number}}</strong></span>
          <span>Citz: <strong>{{headcountModal.preview.citizens | number}}</strong></span>
          <span>EcPts: <strong>{{headcountModal.preview.ecPts | number}}</strong></span>
          <span>Horse: <strong>{{headcountModal.preview.horses | number}}</strong></span>
        </div>
        <div>
          <strong>EF changes:</strong> {{headcountModal.preview.efChanges}}
          battalions
        </div>
      </div>
    </div>

    <div class="landUnitsModalFooter">
      <button
        type="button"
        class="btn btn-default btn-sm"
        ng-click="clearHeadcountPlan()"
      >
        Clear
      </button>
      <button
        type="button"
        class="btn btn-default btn-sm"
        ng-click="closeHeadcountModal()"
      >
        Cancel
      </button>
      <button
        type="button"
        class="btn btn-primary btn-sm"
        ng-click="applyHeadcountPlan()"
      >
        Apply
      </button>
    </div>
  </div>

  <div
    class="landUnitsModalBackdrop"
    ng-show="trainModal.isOpen"
    ng-click="closeTrainModal()"
  ></div>
  <div class="landUnitsModal" ng-show="trainModal.isOpen">
    <div class="landUnitsModalHeader">
      <div>
        <h3>Train Brigade</h3>
        <div class="landUnitsModalSubtitle">
          {{trainModal.brigade.id}} {{trainModal.brigade.name}} -
          {{trainModal.brigade.position}}
        </div>
      </div>
      <button type="button" class="close" ng-click="closeTrainModal()">
        &times;
      </button>
    </div>

    <div class="landUnitsModalBody">
      <div class="form-group">
        <label>Apply to</label>
        <div class="radio">
          <label>
            <input
              type="radio"
              name="trainScope"
              value="brigade"
              ng-model="trainModal.scope"
              ng-change="onTrainScopeChanged()"
            />
            This brigade only
          </label>
        </div>
        <div class="radio">
          <label
            ng-class="{ landUnitsDisabledText: !canApplyFederationScope(trainModal.brigade) }"
          >
            <input
              type="radio"
              name="trainScope"
              value="federation"
              ng-model="trainModal.scope"
              ng-change="onTrainScopeChanged()"
              ng-disabled="!canApplyFederationScope(trainModal.brigade)"
            />
            All brigades in Federation {{trainModal.brigade.fed || '-'}}
          </label>
        </div>
      </div>

      <div class="landUnitsHeadcountPreview">
        <div>
          <strong>Affected brigades:</strong>
          {{trainModal.preview.affectedBrigades}}
        </div>
        <div>
          <strong>Trainable battalions:</strong>
          {{trainModal.preview.trainableBattalions}}
        </div>
        <div>
          <strong>Skipped battalions:</strong>
          {{trainModal.preview.skippedBattalions}}
        </div>
        <div class="landUnitsHeadcountPreviewGrid">
          <span>LD: <strong>{{trainModal.preview.ld | number}}</strong></span>
          <span>EcPts: <strong>{{trainModal.preview.ecPts | number}}</strong></span>
        </div>
        <div>
          <strong>EF changes:</strong> {{trainModal.preview.efChanges}}
          battalions
        </div>
      </div>
    </div>

    <div class="landUnitsModalFooter">
      <button
        type="button"
        class="btn btn-default btn-sm"
        ng-click="clearTrainPlan()"
      >
        Clear
      </button>
      <button
        type="button"
        class="btn btn-default btn-sm"
        ng-click="closeTrainModal()"
      >
        Cancel
      </button>
      <button
        type="button"
        class="btn btn-primary btn-sm"
        ng-click="applyTrainPlan()"
      >
        Apply
      </button>
    </div>
  </div>

  <div
    class="landUnitsModalBackdrop"
    ng-show="boardingModal.isOpen"
    ng-click="closeBoardingModal()"
  ></div>
  <div class="landUnitsModal landUnitsBoardingModal" ng-show="boardingModal.isOpen">
    <div class="landUnitsModalHeader">
      <div>
        <h3>Board Brigade</h3>
        <div class="landUnitsModalSubtitle">
          {{boardingModal.brigade.id}} {{boardingModal.brigade.name}} -
          {{boardingModal.brigade.position}}
        </div>
      </div>
      <button type="button" class="close" ng-click="closeBoardingModal()">
        &times;
      </button>
    </div>

    <div class="landUnitsModalBody">
      <div class="alert alert-info" ng-show="boardingModal.isLoading">
        Loading fleet boarding usage...
      </div>
      <div
        class="alert alert-info"
        ng-show="!boardingModal.isLoading && (!boardingModal.fleets || boardingModal.fleets.length === 0)"
      >
        No fleets found in the same sphere.
      </div>
      <div class="landUnitsBoardingTableWrap" ng-show="boardingModal.fleets && boardingModal.fleets.length > 0">
        <table class="table table-condensed landUnitsTable">
          <thead>
            <tr>
              <th>
                {{isCommanderBoardingUnit(boardingModal.brigade) ? 'Ship' : 'Fleet'}}
              </th>
              <th>X/Y</th>
              <th ng-if="!isCommanderBoardingUnit(boardingModal.brigade)">
                Warships
              </th>
              <th ng-if="!isCommanderBoardingUnit(boardingModal.brigade)">
                Merchants
              </th>
              <th ng-if="!isCommanderBoardingUnit(boardingModal.brigade)">
                Total ships
              </th>
              <th ng-if="isCommanderBoardingUnit(boardingModal.brigade)">
                Type
              </th>
              <th ng-if="isCommanderBoardingUnit(boardingModal.brigade)">
                Warship type
              </th>
              <th ng-if="isCommanderBoardingUnit(boardingModal.brigade)">
                Warship name
              </th>
              <th ng-if="isCommanderBoardingUnit(boardingModal.brigade)">
                Condition
              </th>
              <th>Total loading capacity</th>
              <th ng-if="!isCommanderBoardingUnit(boardingModal.brigade)">
                Loaded
              </th>
              <th ng-if="!isCommanderBoardingUnit(boardingModal.brigade)">
                Available Cap.
              </th>
              <th></th>
            </tr>
          </thead>
          <tbody>
            <tr ng-repeat="fleet in boardingModal.fleets track by fleet.fleetNo">
              <td>{{fleet.fleetNo}}</td>
              <td>{{fleet.position}}</td>
              <td ng-if="!isCommanderBoardingUnit(boardingModal.brigade)">
                {{fleet.warshipCount}}
              </td>
              <td ng-if="!isCommanderBoardingUnit(boardingModal.brigade)">
                {{fleet.merchantCount}}
              </td>
              <td ng-if="!isCommanderBoardingUnit(boardingModal.brigade)">
                {{fleet.totalShips}}
              </td>
              <td ng-if="isCommanderBoardingUnit(boardingModal.brigade)">
                {{fleet.typeLabel}}
              </td>
              <td ng-if="isCommanderBoardingUnit(boardingModal.brigade)">
                {{fleet.warshipType}}
              </td>
              <td ng-if="isCommanderBoardingUnit(boardingModal.brigade)">
                {{fleet.warshipName}}
              </td>
              <td ng-if="isCommanderBoardingUnit(boardingModal.brigade)">
                {{fleet.conditionLabel}}
              </td>
              <td>{{fleet.totalCapacity | number}}</td>
              <td ng-if="!isCommanderBoardingUnit(boardingModal.brigade)">
                {{fleet.usedCapacityWhole}}
              </td>
              <td ng-if="!isCommanderBoardingUnit(boardingModal.brigade)">
                {{fleet.availableCapacity}}
              </td>
              <td>
                <button
                  type="button"
                  class="landUnitsToggleButton"
                  ng-click="handleBoardingRowAction(fleet)"
                  ng-style="getBrigadeToggleStyle(fleet.isCurrentlyAssigned)"
                  title="{{fleet.isCurrentlyAssigned ? 'Unboard this unit from selected transport' : (fleet.wouldExceedForCurrentBrigade ? 'Not enough remaining capacity for this brigade' : '')}}"
                >
                  {{fleet.isCurrentlyAssigned ? 'Unboard' : '+Board'}}
                </button>
                <span class="text-muted">
                  (Load: {{fleet.currentBrigadeCapacityWholeUp}})
                </span>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>

    <div class="landUnitsModalFooter">
      <button
        type="button"
        class="btn btn-danger btn-sm"
        ng-show="boardingModal.brigade.boardingSelected"
        ng-click="removeBoardingFromModal()"
      >
        Remove
      </button>
      <button
        type="button"
        class="btn btn-default btn-sm"
        ng-click="closeBoardingModal()"
      >
        Close
      </button>
    </div>
  </div>

  <div
    class="landUnitsModalBackdrop"
    ng-show="unloadDirectionModal.isOpen"
    ng-click="closeUnloadDirectionModal()"
  ></div>
  <div
    class="landUnitsModal landUnitsBoardingModal"
    ng-show="unloadDirectionModal.isOpen"
  >
    <div class="landUnitsModalHeader">
      <div>
        <h3>Unload Direction</h3>
        <div class="landUnitsModalSubtitle">
          {{unloadDirectionModal.unit.id}} {{unloadDirectionModal.unit.name}}
        </div>
      </div>
      <button type="button" class="close" ng-click="closeUnloadDirectionModal()">
        &times;
      </button>
    </div>

    <div class="landUnitsModalBody">
      <div class="landUnitsCompassPicker">
        <button
          type="button"
          class="landUnitsCompassButton"
          ng-repeat="option in unloadDirectionModal.options"
          ng-class="{
            'landUnitsCompassNorth': option.value === 1,
            'landUnitsCompassEast': option.value === 3,
            'landUnitsCompassSouth': option.value === 5,
            'landUnitsCompassWest': option.value === 7,
            'landUnitsCompassCenter': option.value === 9
          }"
          ng-click="selectUnloadDirection(option.value)"
        >
          {{option.value}}
        </button>
      </div>
    </div>

    <div class="landUnitsModalFooter">
      <button
        type="button"
        class="btn btn-default btn-sm"
        ng-click="closeUnloadDirectionModal()"
      >
        Close
      </button>
    </div>
  </div>

  <div
    class="landUnitsModalBackdrop"
    ng-show="formFederationModal.isOpen"
    ng-click="closeFormFederationModal()"
  ></div>
  <div
    class="landUnitsModal landUnitsFormFederationModal"
    ng-show="formFederationModal.isOpen"
  >
    <div class="landUnitsModalHeader">
      <div>
        <h3>Form Federation</h3>
        <div class="landUnitsModalSubtitle">
          {{formFederationModal.brigade.id}}
          {{formFederationModal.brigade.name}} -
          {{formFederationModal.brigade.position || 'Boarded/Unknown'}}
        </div>
      </div>
      <button type="button" class="close" ng-click="closeFormFederationModal()">
        &times;
      </button>
    </div>

    <div class="landUnitsModalBody">
      <div class="form-group landUnitsFederationTargetRow">
        <label for="formFederationTarget">Federation</label>
        <input
          id="formFederationTarget"
          type="number"
          min="0"
          max="90"
          class="form-control input-sm landUnitsFederationInput"
          ng-model="formFederationModal.targetFederationNo"
          ng-change="onFormFederationTargetChanged()"
          ng-disabled="isFormFederationTargetLocked()"
        />
        <button
          type="button"
          class="btn btn-default btn-xs"
          ng-click="selectNextAvailableFederationNo()"
          ng-disabled="isFormFederationTargetLocked()"
        >
          Next
        </button>
        <span class="landUnitsFederationHint"
          >Use 0 to remove federation or 61-90 for land federations</span
        >
      </div>

      <div
        class="alert alert-warning landUnitsFormFederationError"
        ng-show="formFederationModal.validationError"
      >
        {{formFederationModal.validationError}}
      </div>

      <div class="landUnitsFormFederationTableWrap">
        <table class="table table-condensed landUnitsFormFederationTable">
          <thead>
            <tr>
              <th>ID</th>
              <th>Name</th>
              <th>Type</th>
              <th>Pos</th>
              <th>Fed</th>
              <th>MP</th>
              <th></th>
              <th></th>
            </tr>
          </thead>
          <tbody>
            <tr
              ng-repeat="candidate in formFederationModal.coordinateBrigades track by getLandUnitKey(candidate)"
              ng-class="{ landUnitsFormFederationOriginal: isFormFederationOriginal(candidate), landUnitsFormFederationStaged: isFormFederationStaged(candidate) }"
            >
              <td>{{candidate.id}}</td>
              <td>{{candidate.name}}</td>
              <td>{{candidate.kind === 'commander' ? 'Com' : 'Bde'}}</td>
              <td>{{candidate.position}}</td>
              <td>{{getFormFederationDisplayFed(candidate)}}</td>
              <td>{{candidate.mp}}</td>
              <td>
                <button
                  type="button"
                  class="landUnitsFederationActionButton"
                  ng-click="stageFormFederationBrigade(candidate)"
                  ng-disabled="!canStageFormFederationBrigade(candidate)"
                >
                  Add Unit
                </button>
              </td>
              <td>
                <button
                  type="button"
                  class="landUnitsFederationActionButton"
                  ng-click="stageFormFederationFed(candidate)"
                  ng-disabled="!canStageFormFederationFed(candidate)"
                >
                  +Fed
                </button>
              </td>
            </tr>
          </tbody>
        </table>
      </div>

      <div class="landUnitsHeadcountPreview">
        <div>
          <strong>14 .Form Federation - {{formFederationModal.stagedOrders.length}} Orders</strong>
        </div>
        <div
          ng-repeat="order in formFederationModal.stagedOrders track by getFormFederationOrderKey(order)"
        >
          {{getFormFederationOrderSummary(order)}}
        </div>
      </div>
    </div>

    <div class="landUnitsModalFooter">
      <button
        type="button"
        class="btn btn-default btn-sm"
        ng-click="closeFormFederationModal()"
      >
        Cancel
      </button>
      <button
        type="button"
        class="btn btn-primary btn-sm"
        ng-click="saveFormFederationModal()"
      >
        Save
      </button>
    </div>
  </div>

  <div
    class="landUnitsModalBackdrop"
    ng-show="addBattalionModal.isOpen"
    ng-click="closeAddBattalionModal()"
  ></div>
  <div
    class="landUnitsModal landUnitsAddBattalionModal"
    ng-show="addBattalionModal.isOpen"
  >
    <div class="landUnitsModalHeader">
      <div>
        <h3>Set Up Additional Battalion</h3>
        <div class="landUnitsModalSubtitle">
          {{addBattalionModal.brigade.id}} {{addBattalionModal.brigade.name}} -
          first free battalion slot
        </div>
      </div>
      <button type="button" class="close" ng-click="closeAddBattalionModal()">
        &times;
      </button>
    </div>

    <div class="landUnitsModalBody">
      <div class="landUnitsArmyListTableWrap">
        <table class="table table-condensed landUnitsArmyListTable">
          <thead>
            <tr>
              <th>Item</th>
              <th>Name</th>
              <th>Short</th>
              <th>EF</th>
              <th>HC</th>
              <th>Cost</th>
              <th>EcPts/25</th>
            </tr>
          </thead>
          <tbody>
            <tr
              ng-repeat="armyItem in getAdditionalBattalionOptions()"
              ng-click="selectAdditionalBattalion(armyItem)"
              ng-class="{ active: addBattalionModal.selectedArmyItem === armyItem }"
            >
              <td>{{armyItem.itemNo}}</td>
              <td>{{armyItem.name}}</td>
              <td>{{armyItem.shortName}}</td>
              <td>{{armyItem.ef}}</td>
              <td>{{armyItem.hc}}</td>
              <td>{{armyItem.cost}}</td>
              <td>{{armyItem.ecPtsPer25}}</td>
            </tr>
          </tbody>
        </table>
      </div>

      <div class="landUnitsHeadcountPreview">
        <div>
          <strong>Selected:</strong> {{addBattalionModal.selectedArmyItem ?
          addBattalionModal.selectedArmyItem.itemNo + ' / ' +
          addBattalionModal.selectedArmyItem.shortName + ' - ' +
          addBattalionModal.selectedArmyItem.name : 'None'}}
        </div>
        <div class="landUnitsHeadcountPreviewGrid">
          <span>LD: <strong>{{addBattalionModal.cost.ld | number}}</strong></span>
          <span>Citz: <strong>{{addBattalionModal.cost.citizens | number}}</strong></span>
          <span>EcPts: <strong>{{addBattalionModal.cost.ecPts | number}}</strong></span>
          <span>Horse: <strong>{{addBattalionModal.cost.horses | number}}</strong></span>
        </div>
      </div>
    </div>

    <div class="landUnitsModalFooter">
      <button
        type="button"
        class="btn btn-default btn-sm"
        ng-click="closeAddBattalionModal()"
      >
        Cancel
      </button>
      <button
        type="button"
        class="btn btn-primary btn-sm"
        ng-click="saveAdditionalBattalion()"
        ng-disabled="!addBattalionModal.selectedArmyItem"
      >
        Save
      </button>
    </div>
  </div>
</div>
