<div class="container" id="homePanel">
    <div>
        <div>
            <h3>Load New Turn From File</h3>
            <input type="file" id="fileInput" onchange="sendFile(this.files[0]);" />
            <span ng-class="fileLoading ? 'glyphicon glyphicon-remove':'glyphicon glyphicon-ok'">
        </div>
        <div>
            <h3>Load Turn From Database</h3> 

            <div class="turnSelectorRow">
                <label>Game No</label>
                <select id="selectedGameNo" ng-options="gameNo for gameNo in gameNoOptions" ng-model="selectedGameNo" ng-change="onGameNoChanged()">
                    <option value="">--select game--</option>
                </select>
            </div>

            <div class="turnSelectorRow">
                <label>State</label>
                <select id="selectedState" ng-options="state for state in stateOptions" ng-model="selectedState" ng-change="onStateChanged()">
                    <option value="">--select state--</option>
                </select>
            </div>

            <div class="turnSelectorRow">
                <label>Month/Year</label>
                <select id="selectedMonthYear" ng-options="monthYear for monthYear in monthYearOptions" ng-model="selectedMonthYear" ng-change="onMonthYearChanged()">
                    <option value="">--select month/year--</option>
                </select>
            </div>

            <select id="selectedTurn" ng-options="tsTurn.turnId for tsTurn in masterData.turnsList" ng-model="selectedTurnDetails" ng-change="loadTurnFromDataBase()" style="display:none;">
                <option value="">--select turn--</option>
            </select>
            <h4>Selected: {{masterData.turnId}}</h4>
        </div>

        <div>
            <h3>Load Regional Map File</h3>
            <input type="file" id="fileInput" onchange="sendRegionalMapFile(this.files[0]);" />
        </div>

        <div >
            <div><label>Turn Sheet Loaded?</label><span ng-class="masterData.turnSheet ? 'glyphicon glyphicon-ok':'glyphicon glyphicon-remove'"></span></div>

            <div><label>Turn Report Loaded?</label><span ng-class="masterData.turnReport ? 'glyphicon glyphicon-ok':'glyphicon glyphicon-remove'"></span></div>
            <div ng-show="masterData.turnReport != null">
                <ul>
                    <li>{{masterData.turnReport.stateRelationships.length}} State Relationships</li>
                    <li>{{masterData.turnReport.warehouses.length}} Warehouses</li>
                    <li>{{masterData.turnReport.barracks.length}} Barracks</li>
                    <li>{{masterData.turnReport.commanders.length}} Commanders</li>
                    <li>{{masterData.turnReport.brigades.length}} Brigades</li>
                    <li>{{masterData.turnReport.warships.length}} Warships</li>
                    <li>{{masterData.turnReport.merchantShips.length}} Merchant Ships</li>
                    <li>{{masterData.turnReport.baggageTrains.length}} Baggage Trains</li>
                    <li>{{masterData.turnReport.spies.length}} Spies</li>
                    <li>{{masterData.turnReport.tradingPortsAndCities.length}} Trading Ports And Cities</li>
                    <li>{{masterData.turnReport.mapCoordinates.length}} Lines of Map Coordinates</li>
                </ul>
            </div>
</div>
    </div>
</div>
