<div class="landUnitsPage" ng-init="initLandUnits()">
    <div class="landUnitsHeader">
        <div>
            <h2 class="landUnitsTitle">Military</h2>
            <div class="landUnitsSubtitle">
                Brigades
                <select class="form-control input-sm landUnitsSphereFilter" ng-options="sphere for sphere in sphereOptions" ng-model="selectedSphere" ng-change="onSphereChanged()"></select>
            </div>
        </div>
        <div class="landUnitsTurnInfo">
            <span>{{masterData.turnId}}</span>
        </div>
    </div>

    <div class="alert alert-info landUnitsAlert" ng-show="isLoading">
        Loading brigades...
    </div>

    <div class="alert alert-danger landUnitsAlert" ng-show="loadError">
        {{loadError}}
    </div>

    <div class="alert alert-warning landUnitsAlert" ng-show="replayWarnings.length">
        <strong>Some saved turn orders could not be replayed:</strong>
        <div ng-repeat="warning in replayWarnings track by $index">{{warning}}</div>
    </div>

    <div class="alert alert-warning landUnitsAlert" ng-show="!isLoading && !loadError && brigadeRows.length === 0">
        No brigades are available for the selected turn.
    </div>

    <div class="landUnitsTableWrap" ng-show="brigadeRows.length > 0">
        <table class="table landUnitsTable">
            <thead>
                <tr>
                    <th class="landUnitsIdCol">ID</th>
                    <th class="landUnitsNameCol">Name</th>
                    <th class="landUnitsPositionCol">Pos</th>
                    <th class="landUnitsFedCol">Fed</th>
                    <th class="landUnitsMpCol">MP</th>
                    <th class="landUnitsBattalionCol" ng-repeat="index in [1,2,3,4,5,6,7]">Battalion {{index}}</th>
                    <th class="landUnitsToggleCol">H/C</th>
                    <th class="landUnitsToggleCol">Train</th>
                    <th class="landUnitsResourceCol">HC</th>
                    <th class="landUnitsResourceCol">Train</th>
                    <th class="landUnitsResourceCol">Costs</th>
                    <th class="landUnitsResourceCol">TS01</th>
                    <th class="landUnitsMenuCol"></th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="brigade in filteredBrigadeRows() track by brigade.id">
                    <td class="landUnitsIdCol">{{brigade.id}}</td>
                    <td class="landUnitsNameCol" ng-dblclick="beginRenameBrigade(brigade)">
                        <span ng-show="!brigade.isRenaming" title="Double-click to rename">{{brigade.name}}</span>
                        <input ng-show="brigade.isRenaming" class="form-control input-sm landUnitsRenameInput" ng-model="brigade.pendingName" maxlength="15" ng-keydown="onRenameKeydown($event, brigade)" ng-blur="applyRenameBrigade(brigade)" />
                    </td>
                    <td class="landUnitsPositionCol">{{brigade.position}}</td>
                    <td class="landUnitsFedCol">
                        <button type="button" class="landUnitsFederationChip" ng-class="{ landUnitsFederationChipChanged: brigade.fedChanged }" ng-click="openFormFederationModal(brigade, $event)" title="Click to form or change federation">
                            {{brigade.fed || '-'}}
                        </button>
                    </td>
                    <td class="landUnitsMpCol">{{brigade.mp}}</td>
                    <td class="landUnitsBattalionCol" ng-repeat="battalion in brigade.battalions track by $index">
                        <div class="dropdown landUnitsBattalionDropdown" ng-class="{ landUnitsBattalionActionSource: isBattalionActionSource(brigade, battalion), landUnitsBattalionActionEligible: isBattalionEligibleTarget(brigade, battalion) }">
                            <button type="button" class="landUnitsBattalionChip landUnitsBattalionChipButton dropdown-toggle" data-toggle="dropdown" ng-class="{ landUnitsBattalionChipEfDrop1: battalion.efDrop === 1, landUnitsBattalionChipEfDrop2: battalion.efDrop === 2, landUnitsBattalionChipEfIncrease: battalion.efIncrease > 0, landUnitsBattalionChipNew: battalion.isNewAddition, landUnitsBattalionChipLocked: isBattalionLockedForOrders(battalion) }" ng-click="onBattalionLozengeClick($event, brigade, battalion)" title="{{getBattalionTitle(battalion)}}">
                                <span>{{battalion.display || '- -- ---'}}</span>
                            </button>
                            <ul class="dropdown-menu landUnitsBattalionMenu">
                                <li ng-show="!battalion.type" ng-class="{ disabled: brigadeHasLockedBattalion(brigade) }"><a href="" ng-click="$event.preventDefault(); !brigadeHasLockedBattalion(brigade) && openAddBattalionModal(brigade, battalion, $event)">Add Battalion</a></li>
                                <li ng-show="isBattalionLockedForOrders(battalion)"><a href="" ng-click="clearBattalionTurnOrder(brigade, battalion, $event)">Clear Order</a></li>
                                <li ng-class="{ disabled: battalion.isNewAddition || isBattalionLockedForOrders(battalion) }"><a href="" ng-click="$event.preventDefault(); !battalion.isNewAddition && !isBattalionLockedForOrders(battalion) && startBattalionAction('exchange', brigade, battalion, $event)">Exchange</a></li>
                                <li ng-class="{ disabled: !canStartMerge(battalion) || battalion.isNewAddition || isBattalionLockedForOrders(battalion) }"><a href="" ng-click="$event.preventDefault(); canStartMerge(battalion) && !battalion.isNewAddition && !isBattalionLockedForOrders(battalion) && startBattalionAction('merge', brigade, battalion, $event)">Merge</a></li>
                            </ul>
                        </div>
                    </td>
                    <td class="landUnitsToggleCol">
                        <button type="button" class="landUnitsToggleButton" ng-class="{ landUnitsToggleButtonDisabled: !canUseBarracksAction(brigade) }" ng-style="getBrigadeToggleStyle(brigade.headcountSelected)" ng-click="openHeadcountModal(brigade)" ng-disabled="!canUseBarracksAction(brigade)" title="{{getBarracksActionTooltip(brigade)}}">H/C</button>
                    </td>
                    <td class="landUnitsToggleCol">
                        <button type="button" class="landUnitsToggleButton" ng-class="{ landUnitsToggleButtonDisabled: !canUseBarracksAction(brigade) }" ng-style="getBrigadeToggleStyle(brigade.trainSelected)" ng-click="openTrainModal(brigade)" ng-disabled="!canUseBarracksAction(brigade)" title="{{getBarracksActionTooltip(brigade)}}">Train</button>
                    </td>
                    <td class="landUnitsResourceCol">{{brigade.headcountPlan ? 'HC' : ''}}</td>
                    <td class="landUnitsResourceCol">{{brigade.trainPlan ? 'Train' : ''}}</td>
                    <td class="landUnitsResourceCol">{{getBrigadeCostIndicator(brigade)}}</td>
                    <td class="landUnitsResourceCol">{{(brigade.headcountPlan || brigade.trainPlan) ? 'See Economy' : ''}}</td>
                    <td class="landUnitsMenuCol">
                        <div class="dropdown landUnitsActionDropdown">
                            <button class="btn btn-link landUnitsActionButton dropdown-toggle" type="button" data-toggle="dropdown">
                                ...
                            </button>
                            <ul class="dropdown-menu dropdown-menu-right landUnitsActionMenu">
                                <li ng-repeat="action in brigadeActions">
                                    <a href="" ng-click="selectBrigadeAction(action, brigade)">{{action}}</a>
                                </li>
                            </ul>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

    <div class="landUnitsModalBackdrop" ng-show="headcountModal.isOpen" ng-click="closeHeadcountModal()"></div>
    <div class="landUnitsModal" ng-show="headcountModal.isOpen">
        <div class="landUnitsModalHeader">
            <div>
                <h3>Increase Headcount</h3>
                <div class="landUnitsModalSubtitle">
                    {{headcountModal.brigade.id}} {{headcountModal.brigade.name}} - {{headcountModal.brigade.position}}
                </div>
            </div>
            <button type="button" class="close" ng-click="closeHeadcountModal()">&times;</button>
        </div>

        <div class="landUnitsModalBody">
            <div class="form-group">
                <label for="headcountTarget">Raise each battalion to</label>
                <input id="headcountTarget" type="number" min="1" max="800" class="form-control input-sm landUnitsHeadcountInput" ng-model="headcountModal.targetHeadcount" ng-change="refreshHeadcountPreview()" />
            </div>

            <div class="form-group">
                <label>Apply to</label>
                <div class="radio">
                    <label>
                        <input type="radio" name="headcountScope" value="brigade" ng-model="headcountModal.scope" ng-change="onHeadcountScopeChanged()" />
                        This brigade only
                    </label>
                </div>
                <div class="radio">
                    <label ng-class="{ landUnitsDisabledText: !canApplyFederationScope(headcountModal.brigade) }">
                        <input type="radio" name="headcountScope" value="federation" ng-model="headcountModal.scope" ng-change="onHeadcountScopeChanged()" ng-disabled="!canApplyFederationScope(headcountModal.brigade)" />
                        All brigades in Federation {{headcountModal.brigade.fed || '-'}}
                    </label>
                </div>
            </div>

            <div class="landUnitsHeadcountPreview">
                <div><strong>Affected brigades:</strong> {{headcountModal.preview.affectedBrigades}}</div>
                <div class="landUnitsHeadcountPreviewGrid">
                    <span>LD: <strong>{{headcountModal.preview.ld | number}}</strong></span>
                    <span>Citz: <strong>{{headcountModal.preview.citizens | number}}</strong></span>
                    <span>EcPts: <strong>{{headcountModal.preview.ecPts | number}}</strong></span>
                    <span>Horse: <strong>{{headcountModal.preview.horses | number}}</strong></span>
                </div>
                <div><strong>EF changes:</strong> {{headcountModal.preview.efChanges}} battalions</div>
            </div>
        </div>

        <div class="landUnitsModalFooter">
            <button type="button" class="btn btn-default btn-sm" ng-click="clearHeadcountPlan()">Clear</button>
            <button type="button" class="btn btn-default btn-sm" ng-click="closeHeadcountModal()">Cancel</button>
            <button type="button" class="btn btn-primary btn-sm" ng-click="applyHeadcountPlan()">Apply</button>
        </div>
    </div>

    <div class="landUnitsModalBackdrop" ng-show="trainModal.isOpen" ng-click="closeTrainModal()"></div>
    <div class="landUnitsModal" ng-show="trainModal.isOpen">
        <div class="landUnitsModalHeader">
            <div>
                <h3>Train Brigade</h3>
                <div class="landUnitsModalSubtitle">
                    {{trainModal.brigade.id}} {{trainModal.brigade.name}} - {{trainModal.brigade.position}}
                </div>
            </div>
            <button type="button" class="close" ng-click="closeTrainModal()">&times;</button>
        </div>

        <div class="landUnitsModalBody">
            <div class="form-group">
                <label>Apply to</label>
                <div class="radio">
                    <label>
                        <input type="radio" name="trainScope" value="brigade" ng-model="trainModal.scope" ng-change="onTrainScopeChanged()" />
                        This brigade only
                    </label>
                </div>
                <div class="radio">
                    <label ng-class="{ landUnitsDisabledText: !canApplyFederationScope(trainModal.brigade) }">
                        <input type="radio" name="trainScope" value="federation" ng-model="trainModal.scope" ng-change="onTrainScopeChanged()" ng-disabled="!canApplyFederationScope(trainModal.brigade)" />
                        All brigades in Federation {{trainModal.brigade.fed || '-'}}
                    </label>
                </div>
            </div>

            <div class="landUnitsHeadcountPreview">
                <div><strong>Affected brigades:</strong> {{trainModal.preview.affectedBrigades}}</div>
                <div><strong>Trainable battalions:</strong> {{trainModal.preview.trainableBattalions}}</div>
                <div><strong>Skipped battalions:</strong> {{trainModal.preview.skippedBattalions}}</div>
                <div class="landUnitsHeadcountPreviewGrid">
                    <span>LD: <strong>{{trainModal.preview.ld | number}}</strong></span>
                    <span>EcPts: <strong>{{trainModal.preview.ecPts | number}}</strong></span>
                </div>
                <div><strong>EF changes:</strong> {{trainModal.preview.efChanges}} battalions</div>
            </div>
        </div>

        <div class="landUnitsModalFooter">
            <button type="button" class="btn btn-default btn-sm" ng-click="clearTrainPlan()">Clear</button>
            <button type="button" class="btn btn-default btn-sm" ng-click="closeTrainModal()">Cancel</button>
            <button type="button" class="btn btn-primary btn-sm" ng-click="applyTrainPlan()">Apply</button>
        </div>
    </div>

    <div class="landUnitsModalBackdrop" ng-show="formFederationModal.isOpen" ng-click="closeFormFederationModal()"></div>
    <div class="landUnitsModal landUnitsFormFederationModal" ng-show="formFederationModal.isOpen">
        <div class="landUnitsModalHeader">
            <div>
                <h3>Form Federation</h3>
                <div class="landUnitsModalSubtitle">
                    {{formFederationModal.brigade.id}} {{formFederationModal.brigade.name}} - {{formFederationModal.brigade.position}}
                </div>
            </div>
            <button type="button" class="close" ng-click="closeFormFederationModal()">&times;</button>
        </div>

        <div class="landUnitsModalBody">
            <div class="form-group landUnitsFederationTargetRow">
                <label for="formFederationTarget">Federation</label>
                <input id="formFederationTarget" type="number" min="0" max="90" class="form-control input-sm landUnitsFederationInput" ng-model="formFederationModal.targetFederationNo" ng-change="onFormFederationTargetChanged()" ng-disabled="isFormFederationTargetLocked()" />
                <button type="button" class="btn btn-default btn-xs" ng-click="selectNextAvailableFederationNo()" ng-disabled="isFormFederationTargetLocked()">Next</button>
                <span class="landUnitsFederationHint">Use 0 to remove federation</span>
            </div>

            <div class="alert alert-warning landUnitsFormFederationError" ng-show="formFederationModal.validationError">
                {{formFederationModal.validationError}}
            </div>

            <div class="landUnitsFormFederationTableWrap">
                <table class="table table-condensed landUnitsFormFederationTable">
                    <thead>
                        <tr>
                            <th>ID</th>
                            <th>Name</th>
                            <th>Pos</th>
                            <th>Fed</th>
                            <th>MP</th>
                            <th></th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="candidate in formFederationModal.coordinateBrigades track by candidate.id" ng-class="{ landUnitsFormFederationOriginal: isFormFederationOriginal(candidate), landUnitsFormFederationStaged: isFormFederationStaged(candidate) }">
                            <td>{{candidate.id}}</td>
                            <td>{{candidate.name}}</td>
                            <td>{{candidate.position}}</td>
                            <td>{{getFormFederationDisplayFed(candidate)}}</td>
                            <td>{{candidate.mp}}</td>
                            <td><button type="button" class="landUnitsFederationActionButton" ng-click="stageFormFederationBrigade(candidate)" ng-disabled="!canStageFormFederationBrigade(candidate)">+Brigade</button></td>
                            <td><button type="button" class="landUnitsFederationActionButton" ng-click="stageFormFederationFed(candidate)" ng-disabled="!canStageFormFederationFed(candidate)">+Fed</button></td>
                        </tr>
                    </tbody>
                </table>
            </div>

            <div class="landUnitsHeadcountPreview">
                <div><strong>Staged TS14 orders:</strong> {{formFederationModal.stagedOrders.length}}</div>
                <div ng-repeat="order in formFederationModal.stagedOrders track by order.itemNo">
                    {{order.itemNo}} / {{order.federation_Fleet}}
                </div>
            </div>
        </div>

        <div class="landUnitsModalFooter">
            <button type="button" class="btn btn-default btn-sm" ng-click="closeFormFederationModal()">Cancel</button>
            <button type="button" class="btn btn-primary btn-sm" ng-click="saveFormFederationModal()">Save</button>
        </div>
    </div>

    <div class="landUnitsModalBackdrop" ng-show="addBattalionModal.isOpen" ng-click="closeAddBattalionModal()"></div>
    <div class="landUnitsModal landUnitsAddBattalionModal" ng-show="addBattalionModal.isOpen">
        <div class="landUnitsModalHeader">
            <div>
                <h3>Set Up Additional Battalion</h3>
                <div class="landUnitsModalSubtitle">
                    {{addBattalionModal.brigade.id}} {{addBattalionModal.brigade.name}} - first free battalion slot
                </div>
            </div>
            <button type="button" class="close" ng-click="closeAddBattalionModal()">&times;</button>
        </div>

        <div class="landUnitsModalBody">
            <div class="landUnitsArmyListTableWrap">
                <table class="table table-condensed landUnitsArmyListTable">
                    <thead>
                        <tr>
                            <th>Item</th>
                            <th>Name</th>
                            <th>Short</th>
                            <th>EF</th>
                            <th>HC</th>
                            <th>Cost</th>
                            <th>EcPts/25</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="armyItem in getAdditionalBattalionOptions()" ng-click="selectAdditionalBattalion(armyItem)" ng-class="{ active: addBattalionModal.selectedArmyItem === armyItem }">
                            <td>{{armyItem.itemNo}}</td>
                            <td>{{armyItem.name}}</td>
                            <td>{{armyItem.shortName}}</td>
                            <td>{{armyItem.ef}}</td>
                            <td>{{armyItem.hc}}</td>
                            <td>{{armyItem.cost}}</td>
                            <td>{{armyItem.ecPtsPer25}}</td>
                        </tr>
                    </tbody>
                </table>
            </div>

            <div class="landUnitsHeadcountPreview">
                <div><strong>Selected:</strong> {{addBattalionModal.selectedArmyItem ? addBattalionModal.selectedArmyItem.itemNo + ' / ' + addBattalionModal.selectedArmyItem.shortName + ' - ' + addBattalionModal.selectedArmyItem.name : 'None'}}</div>
                <div class="landUnitsHeadcountPreviewGrid">
                    <span>LD: <strong>{{addBattalionModal.cost.ld | number}}</strong></span>
                    <span>Citz: <strong>{{addBattalionModal.cost.citizens | number}}</strong></span>
                    <span>EcPts: <strong>{{addBattalionModal.cost.ecPts | number}}</strong></span>
                    <span>Horse: <strong>{{addBattalionModal.cost.horses | number}}</strong></span>
                </div>
            </div>
        </div>

        <div class="landUnitsModalFooter">
            <button type="button" class="btn btn-default btn-sm" ng-click="closeAddBattalionModal()">Cancel</button>
            <button type="button" class="btn btn-primary btn-sm" ng-click="saveAdditionalBattalion()" ng-disabled="!addBattalionModal.selectedArmyItem">Save</button>
        </div>
    </div>
</div>
