<div class="landUnitsPage" ng-init="initLandUnits()">
  <div class="landUnitsHeader">
    <div>
      <h2 class="landUnitsTitle">Army</h2>
      <div class="landUnitsTabs">
        <button
          type="button"
          class="landUnitsTabButton"
          ng-class="{ active: activeArmyTab === 'setUpBrigades' }"
          ng-click="selectArmyTab('setUpBrigades')"
        >
          Set-Up Brigades
        </button>
        <button
          type="button"
          class="landUnitsTabButton"
          ng-class="{ active: activeArmyTab === 'existingArmy' }"
          ng-click="selectArmyTab('existingArmy')"
        >
          Existing Army
          <label class="landUnitsTabCheckboxLabel">
            <input
              type="checkbox"
              ng-model="existingArmyModalMode"
              ng-click="$event.stopPropagation()"
            />
            Modal mode
          </label>
        </button>
        <button
          type="button"
          class="landUnitsTabButton"
          ng-class="{ active: activeArmyTab === 'intelligence' }"
          ng-click="selectArmyTab('intelligence')"
        >
          Intelligence
        </button>
      </div>
    </div>
    <div class="landUnitsTurnInfo">
      <span>{{masterData.turnId}}</span>
    </div>
  </div>

  <div class="landUnitsTabPane" ng-show="activeArmyTab === 'setUpBrigades'">
    <div class="landUnitsTableWrap">
      <table class="table landUnitsTable landUnitsSetUpTable">
        <thead>
          <tr>
            <th class="landUnitsIdCol">No</th>
            <th class="landUnitsSetUpDepotCol">Barracks/Shipyard</th>
            <th class="landUnitsPositionCol">X/Y</th>
            <th
              class="landUnitsBattalionCol"
              ng-repeat="index in [1,2,3,4,5,6,7]"
            >
              Batt {{index}}
            </th>
            <th class="landUnitsNameCol">Brigade Name</th>
            <th class="landUnitsMenuCol"></th>
          </tr>
        </thead>
        <tbody>
          <tr
            ng-repeat="setUpRow in tsSetUpBrigadesRows track by setUpRow.orderNo"
            ng-class="{ landUnitsSetUpRowInvalid: isBrigadeSetupIncomplete(setUpRow) }"
          >
            <td class="landUnitsIdCol">{{setUpRow.orderNo}}</td>
            <td class="landUnitsSetUpDepotCol">
              <select
                class="form-control input-sm landUnitsSetUpDepotSelect"
                name="setUpDepot{{setUpRow.orderNo}}"
                ng-model="setUpRow.depot"
                ng-change="setSetUpDepot(setUpRow)"
                ng-options="depot.itemNo as depot.label for depot in setUpDepotSelectionOptions"
              ></select>
            </td>
            <td class="landUnitsPositionCol">
              <span>{{getSetUpDepotPositionText(setUpRow)}}</span>
              <span
                class="landUnitsLocationCostLozenge"
                ng-if="(setUpLocationBadge = getSetUpLocationBadge(setUpRow)).code"
                title="{{setUpLocationBadge.tooltip}}"
              >
                {{setUpLocationBadge.code}}
              </span>
            </td>
            <td
              class="landUnitsBattalionCol"
              ng-repeat="field in ['batt1','batt2','batt3','batt4','batt5','batt6','batt7'] track by field"
            >
              <button
                type="button"
                class="landUnitsBattalionChip landUnitsBattalionChipButton landUnitsSetUpBattalionButton"
                ng-click="paintSetUpBattalion(setUpRow, field)"
              >
                {{getSetUpBattalionDisplay(setUpRow, field)}}
              </button>
            </td>
            <td class="landUnitsNameCol">
              <input
                class="form-control input-sm landUnitsRenameInput"
                ng-model="setUpRow.brigadeName"
                maxlength="15"
                ng-blur="updateSetUpBrigadeName(setUpRow)"
              />
            </td>
            <td class="landUnitsMenuCol">
              <div class="landUnitsSetUpRowActions">
                <button
                  type="button"
                  class="btn btn-default btn-xs"
                  ng-click="repeatSetUpBrigadesRow(setUpRow)"
                  title="Repeat row"
                >
                  Repeat
                </button>
                <button
                  type="button"
                  class="btn btn-default btn-xs"
                  ng-click="clearSetUpBrigadesRow(setUpRow)"
                  title="Delete row"
                >
                  Delete
                </button>
              </div>
            </td>
          </tr>
        </tbody>
      </table>
    </div>

    <div class="landUnitsTableWrap" ng-if="ts01BarracksSummaryRows.length">
      <table class="table landUnitsTable landUnitsSetUpSummaryTable">
        <thead>
          <tr>
            <th>Barracks</th>
            <th>From</th>
            <th>To</th>
            <th>LD</th>
            <th>Citz</th>
            <th>EcPts</th>
            <th>Horse</th>
          </tr>
        </thead>
        <tbody>
          <tr
            ng-repeat="row in ts01BarracksSummaryRows track by ('ts01:' + row.to + ':' + $index)"
          >
            <td>{{row.locationLabel}}</td>
            <td>{{row.from}}</td>
            <td>{{row.to}}</td>
            <td>{{row.goods.louisdore}}</td>
            <td>{{row.goods.citizens}}</td>
            <td>{{row.goods.ecPts}}</td>
            <td>{{row.goods.horses}}</td>
          </tr>
        </tbody>
      </table>
    </div>

    <div class="landUnitsSetUpPickerWrap">
      <table class="table table-condensed landUnitsArmyListTable">
        <thead>
          <tr>
            <th>Item</th>
            <th>Name</th>
            <th>Short</th>
            <th>LR</th>
            <th>RG</th>
            <th>MP.S</th>
            <th>MP</th>
            <th>EF</th>
            <th>HC</th>
            <th>Formation</th>
            <th>Troop Spec</th>
          </tr>
        </thead>
        <tbody>
          <tr
            ng-repeat="armyItem in setupArmyListRows track by armyItem.itemNo"
            ng-class="{ active: isSetUpArmyItemSelected(armyItem) }"
            ng-click="pickSetUpArmyItem(armyItem)"
          >
            <td>{{armyItem.itemNo}}</td>
            <td>{{armyItem.name}}</td>
            <td>{{armyItem.shortName}}</td>
            <td>{{armyItem.lr}}</td>
            <td>{{armyItem.rg}}</td>
            <td>{{armyItem.simMP}}</td>
            <td>{{armyItem.mp}}</td>
            <td>{{armyItem.ef}}</td>
            <td>{{armyItem.hc}}</td>
            <td>{{armyItem.formation}}</td>
            <td>{{armyItem.troopSpecification || armyItem.TroopSpecification || ''}}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>

  <div
    class="landUnitsTabPane"
    ng-show="activeArmyTab === 'existingArmy'"
    ng-if="!existingArmyModalMode"
  >
    <existing-army
      master-data="masterData"
      modal-mode="existingArmyModalMode"
    ></existing-army>
  </div>

  <div
    class="landUnitsModalBackdrop"
    ng-if="existingArmyModalMode"
    ng-click="existingArmyModalMode = false"
  ></div>
  <div
    class="landUnitsModal existingArmyHostModal"
    ng-if="existingArmyModalMode"
  >
    <div class="landUnitsModalHeader">
      <h3>Existing Army</h3>
      <button
        type="button"
        class="close"
        ng-click="existingArmyModalMode = false"
      >
        &times;
      </button>
    </div>
    <div class="existingArmyHostModalBody">
      <existing-army
        master-data="masterData"
        modal-mode="existingArmyModalMode"
      ></existing-army>
    </div>
  </div>

  <div
    class="landUnitsTabPane landUnitsIntelligencePane"
    ng-show="activeArmyTab === 'intelligence'"
    ng-controller="intelligenceController"
    ng-init="initIntelligence()"
  >
    <div class="alert alert-info" ng-show="isLoading">Loading spies...</div>
    <div class="alert alert-danger" ng-show="loadError">{{loadError}}</div>

    <div class="landUnitsTableWrap" ng-show="!isLoading">
      <table class="table landUnitsTable landUnitsIntelligenceTable">
        <thead>
          <tr>
            <th class="landUnitsIdCol">Spy</th>
            <th class="landUnitsPositionCol">X</th>
            <th class="landUnitsPositionCol">Y</th>
            <th class="landUnitsPositionCol">Boarded</th>
            <th>Report</th>
            <th class="landUnitsToggleCol">Board</th>
          </tr>
        </thead>
        <tbody>
          <tr ng-repeat="spy in spyRows track by spy.id">
            <td class="landUnitsIdCol">{{spy.itemNo}}</td>
            <td class="landUnitsPositionCol">{{spy.x}}</td>
            <td class="landUnitsPositionCol">{{spy.y}}</td>
            <td class="landUnitsPositionCol">{{formatSpyBoarded(spy)}}</td>
            <td>{{spy.report}}</td>
            <td class="landUnitsToggleCol">
              <button
                type="button"
                class="landUnitsToggleButton"
                ng-style="getSpyBoardToggleStyle(spy.boardingSelected)"
                ng-click="openSpyBoardingModal(spy)"
              >
                {{getSpyBoardButtonLabel(spy)}}
              </button>
            </td>
          </tr>
          <tr ng-if="!spyRows || spyRows.length === 0">
            <td colspan="6" class="text-muted">No spies found for this turn.</td>
          </tr>
        </tbody>
      </table>
    </div>

    <div
      class="landUnitsModalBackdrop"
      ng-show="boardingModal.isOpen"
      ng-click="closeSpyBoardingModal()"
    ></div>
    <div class="landUnitsModal landUnitsBoardingModal" ng-show="boardingModal.isOpen">
      <div class="landUnitsModalHeader">
        <div>
          <h3>Board Spy</h3>
          <div class="landUnitsModalSubtitle">
            {{boardingModal.spy.id}} - {{boardingModal.spy.x}}/{{boardingModal.spy.y}}
          </div>
        </div>
        <button type="button" class="close" ng-click="closeSpyBoardingModal()">
          &times;
        </button>
      </div>

      <div class="landUnitsModalBody">
        <div class="alert alert-info" ng-show="boardingModal.isLoading">
          Loading ship boarding usage...
        </div>

        <div
          class="alert alert-warning"
          ng-show="!boardingModal.isLoading && (!boardingModal.fleets || boardingModal.fleets.length === 0)"
        >
          No eligible ships are available for this spy.
        </div>

        <div
          class="landUnitsBoardingTableWrap"
          ng-show="boardingModal.fleets && boardingModal.fleets.length > 0"
        >
          <table class="table table-condensed landUnitsTable">
            <thead>
              <tr>
                <th>Ship</th>
                <th>Type</th>
                <th>Position</th>
                <th>Condition</th>
                <th>Total Cap</th>
                <th>Used</th>
                <th>Available</th>
                <th></th>
              </tr>
            </thead>
            <tbody>
              <tr ng-repeat="ship in boardingModal.fleets track by ship.fleetNo">
                <td>{{ship.fleetNo}}</td>
                <td>{{ship.typeLabel}}</td>
                <td>{{ship.position}}</td>
                <td>{{ship.conditionLabel}}</td>
                <td>{{ship.totalCapacity}}</td>
                <td>{{ship.usedCapacityWhole}}</td>
                <td>{{ship.remainingCapacity}}</td>
                <td>
                  <button
                    type="button"
                    class="landUnitsToggleButton"
                    ng-click="handleSpyBoardingRowAction(ship)"
                    ng-style="getSpyBoardToggleStyle(ship.isCurrentlyAssigned)"
                    ng-disabled="!ship.isCurrentlyAssigned && ship.wouldExceedForCurrentSpy"
                    title="{{ship.isCurrentlyAssigned ? 'Unboard this spy from selected ship' : (ship.wouldExceedForCurrentSpy ? 'Not enough remaining capacity for this spy' : '')}}"
                  >
                    {{ship.isCurrentlyAssigned ? 'Unboard' : '+Board'}}
                  </button>
                  <span class="text-muted">
                    (Load: {{ship.currentUnitCapacityWholeUp}})
                  </span>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>

      <div class="landUnitsModalFooter">
        <button
          type="button"
          class="btn btn-danger btn-sm"
          ng-show="boardingModal.spy.boardingSelected"
          ng-click="removeSpyBoardingFromModal()"
        >
          Remove
        </button>
        <button type="button" class="btn btn-default btn-sm" ng-click="closeSpyBoardingModal()">
          Close
        </button>
      </div>
    </div>

    <div
      class="landUnitsModalBackdrop"
      ng-show="spyUnloadDirectionModal.isOpen"
      ng-click="closeSpyUnloadDirectionModal()"
    ></div>
    <div
      class="landUnitsModal landUnitsBoardingModal"
      ng-show="spyUnloadDirectionModal.isOpen"
    >
      <div class="landUnitsModalHeader">
        <div>
          <h3>Unload Direction</h3>
          <div class="landUnitsModalSubtitle">
            Spy {{spyUnloadDirectionModal.spy.id}}
          </div>
        </div>
        <button type="button" class="close" ng-click="closeSpyUnloadDirectionModal()">
          &times;
        </button>
      </div>

      <div class="landUnitsModalBody">
        <div class="landUnitsCompassPicker">
          <button
            type="button"
            class="landUnitsCompassButton"
            ng-repeat="option in spyUnloadDirectionModal.options"
            ng-class="{
              'landUnitsCompassNorth': option.value === 1,
              'landUnitsCompassEast': option.value === 3,
              'landUnitsCompassSouth': option.value === 5,
              'landUnitsCompassWest': option.value === 7,
              'landUnitsCompassCenter': option.value === 9
            }"
            ng-click="selectSpyUnloadDirection(option.value)"
          >
            {{option.value}}
          </button>
        </div>
      </div>

      <div class="landUnitsModalFooter">
        <button
          type="button"
          class="btn btn-default btn-sm"
          ng-click="closeSpyUnloadDirectionModal()"
        >
          Close
        </button>
      </div>
    </div>
  </div>

</div>
