<table class="table table-condensed table-hover mapOrdersTable">
    <thead>
        <tr>
            <th>Item</th>
            <th>Fed/Fleet</th>
            <th class="mapOrdersStatusHeader mapOrdersMovedHeader">M</th>
            <th class="mapOrdersStatusHeader mapOrdersBoardHeader">Board</th>
            <th>Type</th>
            <th>MP</th>
            <th>X/Y</th>
            <th>Description</th>
        </tr>
    </thead>
    <tbody>
        <tr ng-repeat="itemRow in itemGridRows track by (itemRow.itemNo + ':' + $index)"
            class="mapOrdersPickerDataRow"
            ng-class="{ 'itemGridRowAlreadyAdded': isItemOrFederationAlreadyInMovementGrid(itemRow) }"
            ng-click="selectMovementOrderItemFromPickerRow(itemRow)">
            <td>
                <button type="button"
                        class="landUnitsFederationChip mapOrdersPickChip"
                        ng-class="{ 'mapOrdersPickChipMoved': isItemRowAlreadyInMovementGrid(itemRow) }"
                        ng-click="$event.stopPropagation(); selectMovementOrderItem(itemRow, 'item')">{{itemRow.itemNo}}</button>
            </td>
            <td>
                <button type="button"
                        class="landUnitsFederationChip mapOrdersPickChip"
                        ng-class="{ 'mapOrdersPickChipMoved': isFederationRowAlreadyInMovementGrid(itemRow), 'mapOrdersPickChipDisabled': itemRow.fed == null || itemRow.fed === '' }"
                        ng-disabled="itemRow.fed == null || itemRow.fed === ''"
                        ng-click="$event.stopPropagation(); selectMovementOrderItem(itemRow, 'fed')">{{itemRow.fed != null && itemRow.fed !== '' ? itemRow.fed : '-'}}</button>
            </td>
            <td class="mapOrdersMovedCell">
                <div class="mapOrdersStatusLozenges">
                    <span class="mapOrdersMovedLozenge"
                          ng-show="isItemOrFederationAlreadyInMovementGrid(itemRow)"
                          title="Unit has moved">M</span>
                </div>
            </td>
            <td class="mapOrdersMovedCell">
                <div class="mapOrdersStatusLozenges">
                    <span class="mapOrdersMovedLozenge mapOrdersBoardLozenge"
                        ng-show="itemRow.hasBoarding"
                        title="Unit or fleet has boarding load">Board</span>
                </div>
            </td>
            <td>{{itemRow.itemTypeName}}</td>
            <td>{{itemRow.mp}}</td>
            <td ng-click="$event.stopPropagation()"
                ng-dblclick="toggleMovementPickerCoordinateFilter(itemRow, $event)"
                title="Double-click to toggle between this X/Y and this sphere">{{itemRow.xy}}</td>
            <td>{{itemRow.mainDescription || itemRow.description}}</td>
        </tr>
    </tbody>
</table>
