<div class="turn-maps-page">
    <div class="window" ng-class="{'window-setupBrigades': isSetUpBrigadesMode(), 'window-boarding': isBoardingMode()}">

        <!-- Left panel: TS grids -->
        <div class="master" style="flex-direction:column;">

            <div class="movementGridStyle" ng-if="!isProductionSiteMode() && !isFormFederationMode() && !isSetUpBrigadesMode() && !isBoardingMode()" ng-grid="movementGridOptions">
            </div>

            <div class="boardingGridTitle" ng-if="isBoardingMode()">Boarding</div>
            <div class="movementGridStyle" ng-if="isBoardingMode()" ng-grid="boardingGridOptions">
            </div>

            <div class="boardingSummaryStyle" ng-if="isBoardingMode()">
                <table class="table table-bordered table-condensed boardingSummaryTable">
                    <thead>
                        <tr>
                            <th>War</th>
                            <th>Merchant</th>
                            <th>Load Cap.</th>
                            <th>Brigades</th>
                            <th>Other Units</th>
                            <th>Weight</th>
                            <th>Load</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>{{boardingSummary.war}}</td>
                            <td>{{boardingSummary.merchant}}</td>
                            <td>{{boardingSummary.loadCapacity}}</td>
                            <td>{{boardingSummary.brigades}}</td>
                            <td>{{boardingSummary.otherUnits}}</td>
                            <td>{{boardingSummary.weight}}</td>
                            <td><button type="button" class="btn btn-default btn-xs" ng-click="loadSelectedBoardingUnits()">Load</button></td>
                        </tr>
                    </tbody>
                </table>
            </div>

            <div class="movementGridStyle" ng-if="isProductionSiteMode()" ng-grid="productionSiteGridOptions">
            </div>

            <div class="movementGridStyle" ng-if="isFormFederationMode()" ng-grid="formFederationGridOptions">
            </div>

            <div class="setupBrigadesGridStyle" ng-if="isSetUpBrigadesMode()" ng-grid="setUpBrigadesGridOptions">
            </div>

            <div class="boardingSummaryStyle" ng-if="isSetUpBrigadesMode() && economyTsCostSummarySections.length">
                <table class="table table-bordered table-condensed boardingSummaryTable">
                    <thead>
                        <tr>
                            <th>TS Type</th>
                            <th>From</th>
                            <th>To</th>
                            <th>Location</th>
                            <th>Louis.</th>
                            <th>Ctz</th>
                            <th>EcPts</th>
                            <th>Horse</th>
                            <th>Wd</th>
                            <th>Text</th>
                        </tr>
                    </thead>
                    <tbody ng-repeat="section in economyTsCostSummarySections track by section.tsType">
                        <tr ng-repeat="row in section.rows track by (section.tsType + ':' + row.to + ':' + $index)">
                            <td>{{ $first ? section.tsType + ' - ' + section.tsLabel : '' }}</td>
                            <td>{{row.from}}</td>
                            <td>{{row.to}}</td>
                            <td>{{row.locationLabel}}</td>
                            <td>{{row.goods.louisdore}}</td>
                            <td>{{row.goods.citizens}}</td>
                            <td>{{row.goods.ecPts}}</td>
                            <td>{{row.goods.horses}}</td>
                            <td>{{row.goods.wood}}</td>
                            <td>{{row.goods.textiles}}</td>
                        </tr>
                    </tbody>
                </table>
                <div class="alert alert-warning" ng-repeat="warning in economyTsCostWarnings track by $index">
                    {{warning}}
                </div>
            </div>

            <div class="transferGridStyle" ng-if="isSetUpBrigadesMode()" ng-grid="transferGoodsGridOptions">
            </div>

            <div class="armyListGridStyle" ng-if="isSetUpBrigadesMode()" ng-grid="armyListGridOptions">
            </div>

            <div class="itemGridStyle" ng-if="!isProductionSiteMode() && !isSetUpBrigadesMode() && !isBoardingMode()" ng-grid="itemGridOptions">
            </div>

            <div class="itemGridStyle" ng-if="isBoardingMode()" ng-grid="boardingItemGridOptions">
            </div>

        </div>

        <!-- Right panel: map and controls -->
        <div class="detail">

            <!-- Row 1: Mode controls -->
            <div class="map-toolbar-row">
                <span class="map-control-item">
                    <label class="control-label-sm">Mode</label>
                    <select ng-options="do.name for do in displayOptions" ng-model="selectedDisplayOption" ng-change="changeDisplayOption()">
                        <option value="">-- select --</option>
                    </select>
                </span>
                <span class="map-control-item">
                    <label class="control-label-sm">Map</label>
                    <select ng-options="map.mapName for map in mapChoice" ng-model="selectedMapChoice"></select>
                </span>
                <span class="map-control-item">
                    <label class="control-label-sm">State</label>
                    <select ng-options="(st.state + ' \u2014 ' + st.stateName + ' (Tax:' + st.taxRate + ')') for st in stateList" ng-model="selectedState">
                        <option value="">-- all states --</option>
                    </select>
                </span>
                <span class="map-control-item" ng-show="isProductionSiteMode()">
                    <label class="control-label-sm">Site</label>
                    <select ng-options="(ps.sitezTypeNo + ': ' + ps.siteType) for ps in productionSiteList" ng-model="selectedProductionSite"></select>
                </span>
            </div>

            <!-- Row 2: Overlay toggles + coordinate detail -->
            <div class="map-toolbar-row map-toolbar-row-overlays">
                <span class="control-label-sm">Show:&nbsp;</span>
                <label ng-repeat="mapOption in mapOptions" class="map-overlay-toggle">
                    <input type="checkbox"
                           name="selectedMapOptions[]"
                           value="{{mapOption}}"
                           ng-checked="selectedMapOptions.indexOf(mapOption) > -1"
                           ng-click="toggleSelection(mapOption)" /> {{mapOption}}
                </label>
                <span class="coordinate-details" ng-show="selectedCoordinateDetails">
                    &nbsp;&nbsp;<strong>{{selectedCoordinateDetails}}</strong>
                </span>
            </div>

            <!-- Map sliders and grid -->
            <div class="map-panel-area">
                <div class="map-x-slider">
                    <div range-slider
                         min="selectedMapChoice.rangeMinX" max="selectedMapChoice.rangeMaxX"
                         model-min="selectedMapChoice.minX" model-max="selectedMapChoice.maxX"
                         step="1"
                         style="width:400px">
                    </div>
                </div>

                <div class="map-grid-row">
                    <div>
                        <table class="turnMapTable" id="mapPanel">
                            <tbody>
                                <tr></tr>
                                <tr ng-repeat="cols in mapCoordinates">
                                    <td class="turnMapCoord" style="width:24px;height:12px;"
                                        ng-repeat="col in cols | filter: filterMapFn"
                                        ng-dblclick="coordinateDblClick(col.x, col.y)"
                                        ng-click="coordinateClick(col.x, col.y)"
                                        ng-attr-title="{{col.jumpOffText || undefined}}"
                                        ng-class="defineCoordClass(col.terrain, col.state, col.population, col.productionSite, col.bonus, col.displayField, col.units, col.x, col.y, col.routeCandidate, col.jumpOffText)">
                                        <div ng-show="col.y>0 && col.x>0">
                                            {{selectedMapOptions.indexOf('State') > -1 ? col.state : ''}}{{selectedMapOptions.indexOf('Population') > -1 ? col.population : ''}}{{selectedMapOptions.indexOf('ProductionSite') > -1 ? getMapProductionSiteText(col) : ''}}{{selectedMapOptions.indexOf('Owner') > -1 ? col.owner : ''}}{{selectedMapOptions.indexOf('Terrain') > -1 ? col.terrain : ''}}{{selectedMapOptions.indexOf('Bonus') > -1 ? col.bonus : ''}}
                                        </div>
                                        <label class="turnMapBorder" ng-show="col.y==0 && col.x>0">{{col.x}}</label>
                                        <label class="turnMapBorder" ng-show="col.x==0 && col.y>0">{{col.y}}</label>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>

                    <div class="map-y-slider">
                        <div range-slider
                             min="selectedMapChoice.rangeMinY" max="selectedMapChoice.rangeMaxY"
                             model-min="selectedMapChoice.minY" model-max="selectedMapChoice.maxY"
                             step="1"
                             orientation="vertical left" height="300px; width:25px">
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>
