<div class="turn-maps-page">
    <div class="window" ng-class="{ 'turnMapsWideWindow': shouldUseMovementPickerPanelLayout() }">
        <!-- Map and controls -->
        <div class="detail turnMapsMainDetail">

            <div class="map-toolbar-row">
                <span class="map-control-item">
                    <label class="control-label-sm">Mode</label>
                    <select ng-class="{ 'map-mode-movement-highlight': selectedDisplayOption && (selectedDisplayOption.name === 'Movement' || selectedDisplayOption.name === 'Movement X') }"
                            ng-options="(do.name === 'ProductionSite' ? 'Prod.Site' : do.name) for do in displayOptions"
                            ng-model="selectedDisplayOption"
                            ng-change="changeDisplayOption()">
                        <option value="">-- select --</option>
                    </select>
                </span>
                <span class="map-control-item">
                    <label class="control-label-sm">Map</label>
                    <select ng-options="map.mapName for map in mapChoice" ng-model="selectedMapChoice"></select>
                </span>
                <span class="map-control-item">
                    <label class="control-label-sm">State</label>
                    <select ng-options="(st.stateName + ' (' + st.state + ')') for st in stateList"
                            ng-model="selectedState"
                            ng-change="handleSelectedStateChange()">
                        <option value="">-- all states --</option>
                    </select>
                </span>
                <span class="map-control-item" ng-show="isProductionSiteMode()">
                    <label class="control-label-sm">Prod.Site</label>
                    <select ng-options="(ps.sitezTypeNo + ': ' + ps.siteType) for ps in productionSiteList" ng-model="selectedProductionSite"></select>
                </span>
                <span class="control-label-sm">Show:</span>
                <label ng-repeat="mapOption in mapOptions" class="map-overlay-toggle">
                    <input type="checkbox"
                           name="selectedMapOptions[]"
                           value="{{mapOption}}"
                           ng-checked="selectedMapOptions.indexOf(mapOption) > -1"
                           ng-click="toggleSelection(mapOption)" /> {{mapOption === 'ProductionSite' ? 'Prod.Site' : mapOption}}
                </label>
                <span class="coordinate-details" ng-show="selectedCoordinateDetails">
                    {{selectedCoordinateDetails}}
                </span>
            </div>

            <div class="map-orders-row" ng-if="!isProductionSiteMode() && currentMovementOrderRow">
                <span class="map-orders-group map-orders-group-order">
                    <button type="button" class="btn btn-default btn-xs map-orders-nav-btn" ng-click="navigateCurrentOrder(-1)">&lt;</button>
                    <button type="button" class="btn btn-default btn-xs map-orders-order-picker-btn" ng-click="openAllOrdersModal()">Order #{{(getCurrentOrderIndexForMode('movement') || 0) + 1}}</button>
                    <button type="button" class="btn btn-default btn-xs map-orders-nav-btn" ng-click="navigateCurrentOrder(1)">&gt;</button>
                    <button type="button" class="btn btn-default btn-xs" ng-click="findNextEmptyMovementOrder()">Next Empty</button>
                </span>

                <span class="map-orders-group map-orders-group-unit">
                    <label>Item</label>
                    <button type="button"
                            class="map-order-value map-order-value-item map-order-value-action"
                            ng-click="openMovementPickerModal()">{{currentMovementOrderRow.itemNo || '-'}}</button>
                </span>

                <span class="map-orders-group map-orders-group-meta">
                    <label>Type</label>
                    <span class="map-order-value map-order-value-xs">{{currentMovementOrderRow.type || '-'}}</span>

                    <label>MP</label>
                    <span class="map-order-value map-order-value-sm">{{(currentMovementOrderRow.mpUsed != null ? currentMovementOrderRow.mpUsed : '-') + '/' + (currentMovementOrderRow.mp != null ? currentMovementOrderRow.mp : '-')}}</span>

                    <label>X/Y</label>
                    <span class="map-order-value map-order-value-xy">{{(currentMovementOrderRow.xy || '-') | limitTo:5}}</span>
                </span>

                <span class="map-orders-group map-orders-group-route">
                    <label>D1</label>
                    <input class="map-order-input map-order-input-xs map-order-input-direction" type="text" inputmode="numeric" maxlength="1" ng-model="currentMovementOrderRow.direction1" ng-change="handleCurrentMovementFieldChange()" />
                    <label>Ds1</label>
                    <input class="map-order-input map-order-input-xs" type="text" inputmode="numeric" maxlength="2" ng-model="currentMovementOrderRow.distance1" ng-change="handleCurrentMovementFieldChange()" />
                    <label>D2</label>
                    <input class="map-order-input map-order-input-xs map-order-input-direction" type="text" inputmode="numeric" maxlength="1" ng-model="currentMovementOrderRow.direction2" ng-change="handleCurrentMovementFieldChange()" />
                    <label>Ds2</label>
                    <input class="map-order-input map-order-input-xs" type="text" inputmode="numeric" maxlength="2" ng-model="currentMovementOrderRow.distance2" ng-change="handleCurrentMovementFieldChange()" />
                    <label>D3</label>
                    <input class="map-order-input map-order-input-xs map-order-input-direction" type="text" inputmode="numeric" maxlength="1" ng-model="currentMovementOrderRow.direction3" ng-change="handleCurrentMovementFieldChange()" />
                    <label>Ds3</label>
                    <input class="map-order-input map-order-input-xs" type="text" inputmode="numeric" maxlength="2" ng-model="currentMovementOrderRow.distance3" ng-change="handleCurrentMovementFieldChange()" />
                </span>

                <span class="map-orders-group map-orders-group-actions">
                    <button type="button" class="btn btn-danger btn-xs" ng-click="clearCurrentMovementOrder()">Clear</button>
                </span>
            </div>

            <div class="map-orders-row" ng-if="isProductionSiteMode() && currentProductionOrderRow">
                <span class="map-orders-label">Production Order</span>
                <span class="map-orders-index">#{{(getCurrentOrderIndexForMode('production') || 0) + 1}}</span>

                <label>No</label>
                <select class="map-order-input map-order-input-md"
                        ng-model="productionOrderPickerIndex"
                        ng-change="pickProductionOrderByIndex()"
                        ng-options="$index as (row.orderNo || ($index + 1)) for row in tsBuildProductionSitesList track by $index">
                </select>

                <label>Type</label>
                <input class="map-order-input map-order-input-sm" type="number" ng-model="currentProductionOrderRow.prodSiteType" ng-change="handleCurrentProductionFieldChange()" />

                <label>X</label>
                <input class="map-order-input map-order-input-sm" type="number" ng-model="currentProductionOrderRow.x" ng-change="handleCurrentProductionFieldChange()" />

                <label>Y</label>
                <input class="map-order-input map-order-input-sm" type="number" ng-model="currentProductionOrderRow.y" ng-change="handleCurrentProductionFieldChange()" />

                <label>Description</label>
                <input class="map-order-input map-order-input-lg" type="text" ng-value="getProductionSiteDescription(currentProductionOrderRow)" readonly />

                <button type="button" class="btn btn-danger btn-xs" ng-click="clearCurrentProductionOrder()">Clear</button>
                <button type="button" class="btn btn-default btn-xs" ng-click="openAllOrdersModal()">Show All</button>
                <button type="button" class="btn btn-default btn-xs" ng-click="navigateCurrentOrder(-1)">&lt;</button>
                <button type="button" class="btn btn-default btn-xs" ng-click="navigateCurrentOrder(1)">&gt;</button>
            </div>

            <!-- Map sliders and grid -->
            <div class="map-panel-area">
                <div class="map-grid-row">
                    <div>
                        <table class="turnMapTable" id="mapPanel">
                            <tbody>
                                <tr></tr>
                                <tr ng-repeat="cols in mapCoordinates">
                                    <td class="turnMapCoord" style="width:24px;height:12px;"
                                        ng-repeat="col in cols | filter: filterMapFn"
                                        ng-dblclick="coordinateDblClick(col.x, col.y)"
                                        ng-click="coordinateClick(col.x, col.y)"
                                        ng-attr-title="{{getCoordinateHoverTooltip(col) || undefined}}"
                                        ng-class="defineCoordClass(col.terrain, col.state, col.population, col.productionSite, col.owner, col.bonus, col.displayField, col.units, col.x, col.y, col.routeCandidate, col.jumpOffText)">
                                        <div ng-show="col.y>0 && col.x>0">
                                            {{selectedMapOptions.indexOf('State') > -1 ? col.state : ''}}{{selectedMapOptions.indexOf('Population') > -1 ? col.population : ''}}{{selectedMapOptions.indexOf('ProductionSite') > -1 ? getMapProductionSiteText(col) : ''}}{{selectedMapOptions.indexOf('Owner') > -1 ? col.owner : ''}}{{selectedMapOptions.indexOf('Terrain') > -1 ? col.terrain : ''}}{{selectedMapOptions.indexOf('Bonus') > -1 ? col.bonus : ''}}
                                        </div>
                                        <label class="turnMapBorder" ng-show="col.y==0 && col.x>0">{{col.x}}</label>
                                        <label class="turnMapBorder" ng-show="col.x==0 && col.y>0">{{col.y}}</label>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>

                    <div class="map-y-slider">
                        <div range-slider
                             min="selectedMapChoice.rangeMinY" max="selectedMapChoice.rangeMaxY"
                             model-min="selectedMapChoice.minY" model-max="selectedMapChoice.maxY"
                             step="1"
                             orientation="vertical left" height="300px; width:25px">
                        </div>
                    </div>
                </div>

                <div class="map-x-slider">
                    <div range-slider
                         min="selectedMapChoice.rangeMinX" max="selectedMapChoice.rangeMaxX"
                         model-min="selectedMapChoice.minX" model-max="selectedMapChoice.maxX"
                         step="1"
                         style="width:400px">
                    </div>
                </div>
            </div>

        </div>

        <aside class="turnMapsPickerPane" ng-if="shouldUseMovementPickerPanelLayout()">
            <div class="turnMapsPickerPaneEmpty" ng-if="!isMovementXMode() && !shouldShowMovementPickerPanel()">
                <h4>Movement Picker</h4>
                <p class="text-muted">Movement picker is closed.</p>
                <button type="button" class="btn btn-default btn-sm" ng-click="openMovementPickerModal()">Open Picker</button>
            </div>

            <div ng-if="!isMovementXMode() && shouldShowMovementPickerPanel()">
                <div class="landUnitsModalHeader turnMapsPaneHeader">
                    <div>
                        <h3>Movement Picker (Fed/Fleet)</h3>
                        <div class="landUnitsModalSubtitle">Fed/Fleet pick enabled. Item and Fed/Fleet chips are selectable.</div>
                    </div>
                    <button type="button" class="close" ng-click="closeMovementPickerModal()"><span>&times;</span></button>
                </div>
                <div class="landUnitsModalBody turnMapsPaneBody">
                    <div class="table-responsive mapOrdersModalBody">
                        <div ng-include="'/Templates/turnMapsMovementPickerTableTemplate.html'"></div>
                    </div>
                </div>
            </div>

            <div class="turnMapsMovementXPane" ng-if="shouldShowMovementXPickerPanel()">
                <div class="landUnitsModalHeader turnMapsPaneHeader">
                    <div>
                        <h3>Movement X</h3>
                        <div class="landUnitsModalSubtitle">Select an army unit, ship, federation, or fleet to move.</div>
                    </div>
                    <button type="button" class="close" ng-click="closeMovementPickerModal()"><span>&times;</span></button>
                </div>
                <div class="turnMapsMovementXPaneBody">
                    <div class="turnMapsShipyardPicker" ng-if="movementXPickerIsShipyard">
                        <label><input type="radio" ng-model="movementXPickerView" value="army" ng-change="selectMovementXPickerView('army')" /> Army</label>
                        <label><input type="radio" ng-model="movementXPickerView" value="navy" ng-change="selectMovementXPickerView('navy')" /> Navy</label>
                    </div>
                    <existing-army
                        ng-if="movementXPickerView === 'army'"
                        master-data="masterData"
                        modal-mode="movementXModalMode"
                        movement-selection="true"
                        selected-movement-item-no="movementXPickerShowCurrentSelection ? movementXSelectedItemNo : null"
                        selected-movement-type="movementXPickerShowCurrentSelection ? movementXSelectedType : null"
                        picker-position-filter="movementXPickerPositionFilter"
                        picker-sphere-filter="movementXPickerSphereFilter"
                        is-movement-unit-moved="isMovementXArmyUnitMoved(unit)"
                        is-movement-unit-boarded="isMovementXArmyUnitBoarded(unit)"
                        is-movement-unit-disabled="isMovementXArmyUnitDisabled(unit)"
                        on-form-federation-saved="refreshMovementXFormFederations()"
                        on-movement-select="selectMovementXArmyUnit(unit, selectionType)">
                    </existing-army>
                    <existing-navy
                        ng-if="movementXPickerView === 'navy'"
                        master-data="masterData"
                        modal-mode="movementXModalMode"
                        movement-selection="true"
                        selected-movement-item-no="movementXPickerShowCurrentSelection ? movementXSelectedItemNo : null"
                        selected-movement-type="movementXPickerShowCurrentSelection ? movementXSelectedType : null"
                        picker-position-filter="movementXPickerPositionFilter"
                        picker-sphere-filter="movementXPickerSphereFilter"
                        is-movement-unit-moved="isMovementXNavyShipMoved(ship)"
                        on-movement-select="selectMovementXNavyShip(ship, selectionType)">
                    </existing-navy>
                </div>
            </div>
        </aside>
    </div>

    <div class="landUnitsModalBackdrop" ng-show="orderUi.allOrdersModal.isOpen" ng-click="closeAllOrdersModal()"></div>
    <div class="landUnitsModal mapOrdersModal" ng-show="orderUi.allOrdersModal.isOpen">
        <div class="landUnitsModalHeader">
            <div>
                <h3>All {{orderUi.allOrdersModal.mode === 'production' ? 'Production' : 'Movement'}} Orders</h3>
                <div class="landUnitsModalSubtitle">Select order slot to show in single-order line.</div>
            </div>
            <button type="button" class="close" ng-click="closeAllOrdersModal()"><span>&times;</span></button>
        </div>
        <div class="landUnitsModalBody">
            <div class="table-responsive mapOrdersModalBody">
                <table class="table table-condensed table-hover mapOrdersTable">
                    <thead>
                        <tr>
                            <th>No</th>
                            <th>Summary</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="orderRow in getAllOrdersModalRows() track by $index"
                            ng-class="{ 'itemGridRowSelected': isAllOrdersModalCurrentSelection($index) }"
                            ng-click="selectOrderFromAllOrdersModal($index)">
                            <td>{{orderRow.orderNo || ($index + 1)}}</td>
                            <td>{{getOrderSummaryText(orderUi.allOrdersModal.mode, orderRow)}}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>

    <div class="landUnitsModalBackdrop" ng-show="shouldShowMovementPickerModal() && !isMovementXMode()" ng-click="closeMovementPickerModal()"></div>
    <div class="landUnitsModal mapOrdersMovementPickerModal" ng-show="shouldShowMovementPickerModal() && !isMovementXMode()">
        <div class="landUnitsModalHeader">
            <div>
                <h3>Movement Picker (Fed/Fleet)</h3>
                <div class="landUnitsModalSubtitle">Fed/Fleet pick enabled. Item and Fed/Fleet chips are selectable.</div>
            </div>
            <button type="button" class="close" ng-click="closeMovementPickerModal()"><span>&times;</span></button>
        </div>
        <div class="landUnitsModalBody">
            <div class="table-responsive mapOrdersModalBody">
                <div ng-include="'/Templates/turnMapsMovementPickerTableTemplate.html'"></div>
            </div>
        </div>
    </div>

    <div
        class="landUnitsModalBackdrop"
        ng-if="shouldShowMovementXPickerModal()"
        ng-click="closeMovementPickerModal()">
    </div>
    <div
        class="landUnitsModal existingArmyHostModal"
        ng-if="shouldShowMovementXPickerModal()">
        <div class="landUnitsModalHeader">
            <div>
                <h3>Movement X</h3>
                <div class="landUnitsModalSubtitle">Select an army unit, ship, federation, or fleet to move.</div>
            </div>
            <button type="button" class="close" ng-click="closeMovementPickerModal()">
                <span>&times;</span>
            </button>
        </div>
        <div class="existingArmyHostModalBody">
            <div class="turnMapsShipyardPicker" ng-if="movementXPickerIsShipyard">
                <label><input type="radio" ng-model="movementXPickerView" value="army" ng-change="selectMovementXPickerView('army')" /> Army</label>
                <label><input type="radio" ng-model="movementXPickerView" value="navy" ng-change="selectMovementXPickerView('navy')" /> Navy</label>
            </div>
            <existing-army
                ng-if="movementXPickerView === 'army'"
                master-data="masterData"
                modal-mode="movementXModalMode"
                movement-selection="true"
                selected-movement-item-no="movementXPickerShowCurrentSelection ? movementXSelectedItemNo : null"
                selected-movement-type="movementXPickerShowCurrentSelection ? movementXSelectedType : null"
                picker-position-filter="movementXPickerPositionFilter"
                picker-sphere-filter="movementXPickerSphereFilter"
                is-movement-unit-moved="isMovementXArmyUnitMoved(unit)"
                is-movement-unit-boarded="isMovementXArmyUnitBoarded(unit)"
                is-movement-unit-disabled="isMovementXArmyUnitDisabled(unit)"
                on-form-federation-saved="refreshMovementXFormFederations()"
                on-movement-select="selectMovementXArmyUnit(unit, selectionType)">
            </existing-army>
            <existing-navy
                ng-if="movementXPickerView === 'navy'"
                master-data="masterData"
                modal-mode="movementXModalMode"
                movement-selection="true"
                selected-movement-item-no="movementXPickerShowCurrentSelection ? movementXSelectedItemNo : null"
                selected-movement-type="movementXPickerShowCurrentSelection ? movementXSelectedType : null"
                picker-position-filter="movementXPickerPositionFilter"
                picker-sphere-filter="movementXPickerSphereFilter"
                is-movement-unit-moved="isMovementXNavyShipMoved(ship)"
                on-movement-select="selectMovementXNavyShip(ship, selectionType)">
            </existing-navy>
        </div>
    </div>
</div>
