<div style="padding-left:0px; padding-right:0px;">
    <div class="window">
        <div class="master" style="flex-direction:column;">
            <div class="movementGridStyle" ng-grid="movementGridOptions">
            </div>

            <div class="saveButton">
                <button class="btn btn-info" tooltip-placement="right" tooltip="Save" ng-click="saveTSMovement()">Save</button>
            </div>
        </div>


        <div class="detail" style="overflow:auto;">

            <div>
                <div>
                    <label ng-repeat="mapOption in mapOptions">
                        <input type="checkbox"
                               name="selectedMapOptions[]"
                               value="{{mapOption}}"
                               ng-checked="selectedMapOptions.indexOf(mapOption) > -1"
                               ng-click="toggleSelection(mapOption)" /> {{mapOption}}
                        <br />
                    </label>
                    <br />
                    <div>
                        <select ng-options="do.name for do in displayOptions" ng-model="selectedDisplayOption" ng-change="changeDisplayOption()">
                            <option value="">-- select a map colour option --</option>
                        </select>

                        <select ng-options="map.mapName for map in mapChoice" ng-model="selectedMapChoice"></select>

                        <select ng-options="(st.state + ' - ' + st.stateName + ' (Tax:' + st.taxRate + ', Fleet Morale:' + st.fleetMorale + ')') for st in stateList" ng-model="selectedState">
                            <option value="">-- select a state --</option>
                        </select>

                        <select ng-options="(ps.siteTypeNo + ' : ' + ps.siteType + ' (' + ps.terrain + ', Pop: ' + pop.minPopulation + '-' + pop.maxPopulation) group by ps.siteTypeNo for ps in productionSiteList" ng-model="selectedProductionSite"></select>
                    </div>
                </div>

                <div style="display:inline-block;">
                    <div>
                        <h4 style="float:right;vertical-align:top" tooltip="X/Y, State, Population, Prod. Site : Political Owner, Terrain, Bonus" ng-show="selectedCoordinateDetails">{{selectedCoordinateDetails}} </h4>
                    </div>

                    <div range-slider
                         min="selectedMapChoice.rangeMinX" max="selectedMapChoice.rangeMaxX"
                         model-min="selectedMapChoice.minX" model-max="selectedMapChoice.maxX"
                         step="1"
                         style="width:400px" >
                    </div>

                    <div style="float:right; margin-left:50px;">
                        <table class="turnMapTable" id="mapPanel">
                            <tbody>
                                <tr></tr>

                                <tr ng-repeat="cols in mapCoordinates">
                                    <td class="turnMapCoord" style="width:24px;height:12px;" ng-repeat="col in cols | filter: filterMapFn" ng-dblclick="coordinateDblClick(col.x, col.y)" ng-click="coordinateClick(col.x, col.y)" ng-class="defineCoordClass(col.terrain, col.state, col.population, col.productionSite, col.bonus, col.displayField)">
                                        <div ng-show="col.y>0 && col.x>0">
                                            {{selectedMapOptions.indexOf('State') > -1 ? col.state : ''}}{{selectedMapOptions.indexOf('Population') > -1 ? col.population : ''}}{{selectedMapOptions.indexOf('ProductionSite') > -1 ? col.productionSite : ''}}{{selectedMapOptions.indexOf('Owner') > -1 ? col.owner : ''}}{{selectedMapOptions.indexOf('Terrain') > -1 ? col.terrain : ''}}{{selectedMapOptions.indexOf('Bonus') > -1 ? col.bonus : ''}}
                                        </div>
                                            <label class="turnMapBorder" ng-show="col.y==0 && col.x>0">{{col.x}}</label>
                                            <label class="turnMapBorder" ng-show="col.x==0 && col.y>0">{{col.y}}</label>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>

                    <div range-slider
                            min="selectedMapChoice.rangeMinY" max="selectedMapChoice.rangeMaxY"
                            model-min="selectedMapChoice.minY" model-max="selectedMapChoice.maxY"
                            step="1"
                            orientation="vertical left" height="300px; width:25px">
                    </div>


                </div>
            </div>
        </div>
    </div>

 </div>

